<md-sidenav-container>

  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button class="add-button" (click)="deleteRows()">
      删除
    </button>
    <button md-raised-button class="add-button" (click)="goToHistory()" [disabled]="!rowId">
      历史
    </button>
  </div>

  <!--<app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize" [activeIndex]="currentPage"-->
    <!--[clickAuthority]="2" (change)="page($event)" (rowClick)="rowClickEvent($event);sidenav.open()">-->
  <!--</app-table>-->

  <timi-table #table [data]="filteredData" [headers]="columns" [totals]="filteredTotal" [pageSize]="pageSize"
              [activeIndex]="currentPage" [clickRowable]="true" (pageEvent)="page($event)"
              (clickRowEvent)="rowClickEvent($event);sidenav.open()" [selectable]="true" (checkeRowEvent)="rowChecked($event)">
  </timi-table>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" (close)="closeEnd()">
    <div class="row">
      <div class="col-lg-12">
        <div class="tab">
          <div class="record" [class.active]="typeTab==1" (click)="toRecord()">
            通话记录
          </div>
          <div class="addressbook" [class.active]="typeTab==2" (click)="toAddress()">
            通讯录
          </div>
          <!-- <button md-raised-button class="defaultColor fr" (click)="deleteRocord()" [class.default]="checkRocord.length>0" [disabled]="checkRocord.length>0?false:true" *ngIf="typeTab==1">
            删除
          </button>
          <button md-raised-button class="defaultColor fr" (click)="deleteDetail()" [class.default]="checkDetail.length>0" [disabled]="checkDetail.length>0?false:true" *ngIf="typeTab==2">
            删除
          </button> -->
        </div>

        <div class="recordContent clear" *ngIf="typeTab==1">
          <timi-pagination *ngIf="recordData" [total]="recordData.total" [pageSize]="recordPageSize" [activeIndex]="recordActiveIndex"
            (onChange)="recordChange($event)">
          </timi-pagination>
          <table class="recordBox">
            <tr>
              <!-- <th>
                <input type="checkbox" (click)="checkedAll($event)" [checked]="recordCheck">
              </th> -->
              <th>通话时间</th>
              <th>通话人姓名</th>
              <th>通话号码</th>
              <th>呼叫行为</th>
              <th>通话时长（秒）</th>
            </tr>
            <tr *ngFor="let item of recordData.phoneBookDetails">
              <!-- <td>
                <input type="checkbox" (click)="checkedRocord($event,item)" [checked]="recordCheck">
              </td> -->
              <td>{{item.time}}</td>
              <td>{{item.name}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.behavior}}</td>
              <td>{{item.length}}</td>
            </tr>
          </table>
          <timi-pagination *ngIf="recordData" [total]="recordData.total" [pageSize]="recordPageSize" [activeIndex]="recordActiveIndex"
            (onChange)="recordChange($event)">
          </timi-pagination>
        </div>

        <div class="addressContent clear" *ngIf="typeTab==2">
          <timi-pagination *ngIf="addressData" [total]="addressData.total" [pageSize]="addressPageSize" [activeIndex]="addressActiveIndex"
            (onChange)="addressChange($event)">
          </timi-pagination>
          <table class="detailBox">
            <tr>
              <!-- <th>
                <input type="checkbox" (click)="checkedAllDetail($event)" [checked]="detailCheck">
              </th> -->
              <th>姓名</th>
              <th>电话号码</th>
            </tr>
            <tr *ngFor="let item of addressData.phoneBookDetails">
              <!-- <td>
                <input type="checkbox" (click)="checkedDetail($event,item)" [checked]="detailCheck">
              </td> -->
              <td>{{item.name}}</td>
              <td>{{item.mobilePhone}}</td>
            </tr>
          </table>
          <timi-pagination *ngIf="addressData" [total]="addressData.total" [pageSize]="addressPageSize" [activeIndex]="addressActiveIndex"
            (onChange)="addressChange($event)">
          </timi-pagination>
        </div>

      </div>
    </div>
  </md-sidenav>

</md-sidenav-container>
