<md-sidenav-container [@fadeInState]="'active'">

  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button *ngIf="authorities.indexOf(authorityKey+'.Add') != -1" color="deepblue" class="add-button" (click)="newAdd();sidenav.open()">添加
    </button>
  </div>

  <!--<app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize" [activeIndex]="currentPage"-->
  <!--[clickAuthority]="authorities.indexOf(authorityKey+'.DetailTemplate')" (change)="page($event)"-->
  <!--(rowClick)="rowClickEvent($event);sidenav.open()"></app-table>-->
  <timi-table [headers]="columns" [data]="filteredData" [selectable]="true" [clickRowable]="authorities.indexOf(authorityKey+'.DetailTemplate') !== -1"
    [totals]="filteredTotal" [pageSize]="pageSize" [activeIndex]="currentPage" (pageEvent)="page($event)" (clickRowEvent)="rowClickEvent($event);sidenav.open()">
  </timi-table>

  <ng-template #authorityModal></ng-template>
  <button md-raised-button (click)="createComponent(12)" style="display: none;">弹框</button>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" (close)="closeEnd()">
    <div class="row">
      <div class="col-lg-12" [ngSwitch]="sidenavKey">
        <ng-container *ngSwitchCase="'Detail'">
          <detail-model *ngIf="detailModel && selectRow" [modelDOMS]="detailModel" [modelDOMSData]="selectRow" (onClick)="detailClick($event)"></detail-model>
        </ng-container>
        <!--<form-unit *ngIf="selectRow" [DOMS]="modalDOMS" [selectRow]="selectRow" (changes)="submitMethod($event)"></form-unit>-->
        <ng-container *ngSwitchCase="'Add'">
          <timi-responsive-form *ngIf="modalDOMS" [modelDOMS]="modalDOMS" [modelDOMSData]="selectRow" [btnType]="btnType" (backClick)="backClick()"
                                (ngSubmit)="submitMethod($event)"></timi-responsive-form>
        </ng-container>
        <ng-container *ngSwitchCase="'Edit'">
          <timi-responsive-form *ngIf="modalDOMS && selectRow" [modelDOMS]="modalDOMS" [modelDOMSData]="selectRow" [btnType]="btnType" (backClick)="backClick()"
            (ngSubmit)="submitMethod($event)"></timi-responsive-form>
        </ng-container>

        <ng-container *ngSwitchCase="'SetFunction'">
          <free-permissions *ngIf="selectRow" [id]="selectRow.id" [from]="pageFrom"></free-permissions>
        </ng-container>
      </div>
    </div>
  </md-sidenav>
</md-sidenav-container>
