:host /deep/ {
  md-sidenav-container {
    height: 100%;
    .main-container {
      padding: 10px;
    }
  }
  md-sidenav {
    width: 90%;
  }
  .add-button {
    left: 40px;
    top: -3px;
  }
}
.row{
  height: 100%;
}
.special{
  overflow: auto;
}

