<md-sidenav-container [@fadeInState]="'active'">

  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button fButton *ngIf="authorities.indexOf(authorityKey+'.Add') != -1" color="deepblue" class="add-button"
            (click)="newAdd();sidenav.open()">添加
    </button>
  </div>

  <app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal"
             [clickAuthority]="authorities.indexOf(authorityKey+'.Detail')"
             [pageLinkCount]="pageLinkCount" (change)="page($event)"
             (rowClick)="rowClickEvent($event);sidenav.open()"></app-table>

  <ng-template #authorityModal></ng-template>
  <button md-raised-button (click)="createComponent(12)" style="display: none;">弹框</button>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" (close)="closeEnd()">
    <div class="row">
      <div class="col-lg-12">
        <detail-model *ngIf="detail && selectRow" [modelDOMS]="detailModel" [modelDOMSData]="selectRow"
                      (onClick)="detailClick($event)"></detail-model>
          <!--<form-unit *ngIf="selectRow" [DOMS]="modalDOMS" [selectRow]="selectRow" (changes)="submitMethod($event)"></form-unit>-->
        <timi-responsive-form *ngIf="edit" [modalDOMS]="modalDOMS" [modelDOMSData]="selectRow" [btnType]="btnType"
                              (backClick)="backClick()" (ngSubmit)="submitMethod($event)"></timi-responsive-form>
      </div>
    </div>
  </md-sidenav>
</md-sidenav-container>
