<div class="container-fluid" [@fadeInState]="'active'">
    <div class="timi-title">
        修改密码
    </div>
    <div class="line"></div>

    <!-- <div class="form-group"></div>
    <div class="form-group">
        <timi-input type="password" labelName="输入原始密码" labelWidth="200px" placeholder="旧密码" value=""></timi-input><br>
    </div>
    <div class="form-group">
        <timi-input type="password" labelName="输入新密码" labelWidth="200px" placeholder="新密码" value=""></timi-input><br>
    </div>
    <div class="form-group">
        <timi-input type="password" labelName="确认新密码" labelWidth="200px" placeholder="新密码" value=""></timi-input>
    </div>
    <div class="form-group">
        <button md-raised-button class="btn">确定</button>
    </div> -->

    <form [formGroup]="passwordForm" (submit)="onSubmit()">
        <div class="form-group">
            <label for="">输入原始密码：</label>
            <md-input-container>
                <input type="password" mdInput formControlName="oldPassword">
            </md-input-container>
            <span class="errors" *ngIf="passwordForm.get('oldPassword').touched" [hidden]="!passwordForm.hasError('required','oldPassword')">请输入原始密码</span>
        </div>
        <div formGroupName="passwordGroup">
            <div class="form-group">
                <label for="">输入新密码：</label>
                <md-input-container>
                    <input mdInput type="password" formControlName="password">
                </md-input-container>
                <span class="errors" *ngIf="passwordForm.get('passwordGroup').get('password').touched" [hidden]="!passwordForm.hasError('required',['passwordGroup','password'])">请输入新密码</span>
                <span class="errors" *ngIf="passwordForm.get('passwordGroup').get('password').touched && passwordForm.get('passwordGroup').get('password').dirty" [hidden]="!passwordForm.hasError('password',['passwordGroup','password'])">密码中必须包含字母、数字、特称字符，至少8个字符，最多30个字符</span>
            </div>
            <div class="form-group">
                <label for="">确认新密码：</label>
                <md-input-container>
                    <input mdInput type="password" formControlName="confirm">
                </md-input-container>
                <span class="errors" *ngIf="passwordForm.get('passwordGroup').get('confirm').touched" [hidden]="!passwordForm.hasError('required',['passwordGroup','confirm'])">请确认新密码</span>
                <span class="errors" *ngIf="passwordForm.get('passwordGroup').get('confirm').touched" [hidden]="!passwordForm.hasError('equal','passwordGroup')">两次输入的密码不匹配</span>
            </div>
        </div>
        <button md-raised-button type="submit" class="btn">确定</button>
    </form>
</div>