<md-sidenav-container>

  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button class="add-button" (click)="setPower();sidenav.open()">添加</button>
  </div>

  <app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize" [activeIndex]="currentPage"
    [clickAuthority]="2" (change)="page($event)" (rowClick)="rowClickEvent($event);sidenav.open()">
  </app-table>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" (close)="closeEnd()">
    <div class="row">
      <div class="col-lg-12">
        
        <free-permissions [menus]="datas" [id]="'59afc3fbfb95ae3140308fd7'" [from]="'SysJob'" *ngIf="datas.length>1"></free-permissions>
        <!-- <div class="tableBox">

          <div class="boxHeader">
            <span>编号</span>
            <span>姓名</span>
            <span>手机号</span>
            <span>手机号归属地</span>
            <span>来源</span>
            <span>用户类型</span>
            <span>用户状态</span>
            <span>下级代理个数</span>
            <span>备注</span>
          </div>
          
          <div class="tableContent" *ngFor="let item of selectRow;let i=index">
            <div class="level2" (click)="showLevel($event,i)">
              <span>{{i+1}}</span>
              <span>{{item.name}}</span>
              <span>{{item.mobilePhone}}</span>
              <span>{{item.mobilePhoneAddr}}</span>
              <span>{{item._source}}</span>
              <span>{{item.org}}</span>
              <span>{{item._status}}</span>
              <span>{{item.subordinateNum}}</span>
              <span>{{item.description}}</span>
              <span *ngIf="!selectRow[i].checked">+</span>
              <span *ngIf="selectRow[i].checked">-</span>
            </div>
            <div *ngIf="selectRow[i].checked && (levels.length>0)" [@selectState]="'attachmentsDisplay'">
              <div class="level3" *ngFor="let item of levels[i];let j=index">
                <span>{{j+1}}</span>
                <span>{{item.name}}</span>
                <span>{{item.mobilePhone}}</span>
                <span>{{item.mobilePhoneAddr}}</span>
                <span>{{item._source}}</span>
                <span>{{item.org}}</span>
                <span>{{item._status}}</span>
                <span>{{item.subordinateNum}}</span>
                <span>{{item.description}}</span>
              </div>
            </div>
          </div>

        </div> -->
      </div>
    </div>
  </md-sidenav>

</md-sidenav-container>

