.shade{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(1, 1, 1, .4);
}
.closebtn{
    float: right;
}
.preBox{
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    cursor: move;
}
.prePic{    
    width: 100%;
    height: 100%;
}
.preBtn{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -95px;
}
.preBtn li{
    width: 30px;
    height: 30px;
    float: left;
    display: block;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.preBtn li:last-child{
    margin-right: 0;
}
.switch{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 50%;
    overflow: hidden;

}
.left,.right{
    display: inline-block;
    cursor: pointer;
}

.left{
    float: left;
    margin-left: 6%;
    border-top:20px transparent dashed;
    border-left:20px transparent dashed;
    border-bottom:20px transparent dashed;
    border-right:20px rgba(1, 1, 1, .7) solid;
    overflow:hidden;
}
.right{
    float: right;
    margin-right: 6%;
    border-top:20px transparent dashed;
    border-right:20px transparent dashed;
    border-bottom:20px transparent dashed;
    border-left:20px rgba(1, 1, 1, .7) solid;
    overflow:hidden;
}