<md-sidenav-container>
  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button color="deepblue" class="add-button"
            (click)="newAdd();sidenav.open()">添加
    </button>
  </div>

  <!--<app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize"-->
             <!--[pageLinkCount]="pageLinkCount" (change)="page($event)" [activeIndex]="currentPage"-->
             <!--(rowClick)="rowClickEvent($event);sidenav.open()"></app-table>-->

  <timi-table
    [headers]="columns"
    [data]="filteredData"
    [clickRowable]="true"
    [totals]="filteredTotal"
    [pageSize]="pageSize"
    [activeIndex]="currentPage"
    (pageEvent)="page($event)"
    (clickRowEvent)="rowClickEvent($event);sidenav.open()">
  </timi-table>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" id="sidenav">
    <iframe #iframeContent [src]="trustedUrl" class="e2e-iframe-untrusted-src" width="100%"  scrolling="no" id="parentFrame" height="{{sidenavHeight}}"></iframe>
  </md-sidenav>
</md-sidenav-container>
