  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button color="deepblue" class="add-button"
            (click)="newAdd();">添加
    </button>
  </div>

  <app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize"
             [pageLinkCount]="pageLinkCount" (change)="page($event)"
             (rowClick)="rowClickEvent($event);"></app-table>
