:host /deep/{
    md-sidenav-container {
      height: 100%;
      .main-container {
        padding: 10px;
      }
    }
    md-sidenav {
      width:92.33%;
    }
    .add-button {
      left: 40px;
      top: -3px;
    }
    .mat-drawer{
      overflow-y:hidden;
    }
    iframe{
      border-width:0px;
    }
  }
  