<md-sidenav-container>
  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button color="deepblue" class="add-button"
            (click)="newAdd();sidenav.open()">添加
    </button>
  </div>

  <app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize"
             [pageLinkCount]="pageLinkCount" (change)="page($event)"
             (rowClick)="rowClickEvent($event);sidenav.open()"></app-table>
  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" >
    <iframe [src]="trustedUrl" class="e2e-iframe-untrusted-src" width="100%" height="100%"></iframe>
  </md-sidenav>
</md-sidenav-container>