<div class="box">
  <div class="container-fluid" *ngIf="menus">
    <ul>
      <li class="menu-row" *ngFor="let menu of menus">
        <div class="menu-card" *ngFor="let page of menu;let i = index">
          <div class="pages-item" (click)="multipleCheck(page,menu)">
            {{page.name}}
          </div>
          <div class="authority-first" *ngFor="let item of page._functions">
            <div class="authority-btn" (click)="changeStyle(page,item)">
              {{item.name}}
              <i class="fa right" [class.fa-check]="item.active===true"></i>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button md-raised-button class="fix-button" (click)="onSubmit()" *ngIf="showBtn">确定</button>
</div>
