<ng-container *ngFor="let item of modelDOMS">
  <div class="panel" [ngStyle]="{'display': item.ui.hidden ? 'none' : 'blcok'}"
       *ngIf="item.ui.displayType === 'HtmlDomDisplayType.Panel'">
    <h4>{{item.ui.label}}</h4>
    <ng-container *ngFor="let child of item.childrens">
      <ng-container [ngSwitch]="child.ui.displayType">

        <div class="form-group columns{{child.ui.columns}}" *ngSwitchCase="'HtmlDomDisplayType.Image'"
             [ngStyle]="{'display': child.ui.hidden ? 'none' : 'show'}">
          <div class="label">{{child.ui.label}}</div>

          <div class="img-wrap span" (click)="toShow($event)">
            <ng-template [ngIf]="child.ui.multiple && modelDOMSData.files">
              <img *ngFor="let file of child.name | ergodicJson : modelDOMSData" src="{{file || imgSrc}}" alt="">
            </ng-template>
            <ng-template [ngIf]="!child.ui.multiple">
              <img #elseblock src="{{modelDOMSData[child.name] || imgSrc}}" alt="">
            </ng-template>
          </div>
          <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
        </div>

        <div class="form-group columns{{child.ui.columns}}" *ngSwitchCase="'HtmlDomDisplayType.StaticText'"
             [ngStyle]="{'display': child.ui.hidden ? 'none' : 'show'}">
          <div class="label">{{child.ui.label}}</div>
          <ng-container [ngSwitch]="child.ui.pipe">
            <div class="span" *ngSwitchCase="'HtmlPipe.DateTime'">{{child.name | ergodicJson : modelDOMSData |
              date:"yyyy-MM-dd HH:mm:ss"}}
            </div>
            <div class="span" *ngSwitchCase="'HtmlPipe.Date'">{{child.name | ergodicJson : modelDOMSData |
              date:"yyyy-MM-dd"}}
            </div>
            <div class="span" *ngSwitchCase="'HtmlPipe.BoolYesNo'">{{child.name | booleanToWord}}</div>
            <div class="span" *ngSwitchDefault>{{child.name | ergodicJson : modelDOMSData}}</div>
          </ng-container>
        </div>
        <div class="form-group columns{{child.ui.columns}}" *ngSwitchCase="'HtmlDomDisplayType.StaticTextArea'"
             [ngStyle]="{'display': child.ui.hidden ? 'none' : 'show'}">
          <div class="label">{{child.ui.label}}</div>
          <div class="span" *ngIf="isArray(modelDOMSData[child.name]);else elseblock;">
            <p *ngFor="let item of modelDOMSData[child.name]">{{item}}</p>
          </div>
          <ng-template #elseblock>
            <div class="span">{{child.name | ergodicJson : modelDOMSData}}</div>
          </ng-template>
        </div>
        <div class="form-group columns{{child.ui.columns}}" *ngSwitchCase="'HtmlDomDisplayType.ButtonRegion'"
             style="text-align: center;">
          <ng-container *ngFor="let btn of child.childrens;">
            <button md-raised-button (click)="clickEvent(btn.cmds)">{{btn.ui.label}}</button>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
