<ng-container *ngFor="let item of modelDOMS">
  <div class="panel" [ngStyle]="{'display': item.ui.hidden ? 'none' : 'blcok'}"
       *ngIf="item.ui.displayType === 'HtmlDomDisplayType.Panel'">
    <h4>{{item.ui.label}}</h4>
    <ng-container *ngFor="let child of item.childrens">
      <ng-container [ngSwitch]="child.ui.displayType">

        <div class="form-group columns{{child.ui.columns}}" *ngSwitchCase="'HtmlDomDisplayType.Image'"
             [ngStyle]="{'display': child.ui.hidden ? 'none' : 'show'}">
          <div class="label">{{child.ui.label}}</div><img src="{{modelDOMSData[child.name]}}" alt="这是一张图片(*^__^*) 嘻嘻……">
        </div>

        <div class="form-group columns{{child.ui.columns}}" *ngSwitchCase="'HtmlDomDisplayType.StaticText'"
             [ngStyle]="{'display': child.ui.hidden ? 'none' : 'show'}">
          <div class="label">{{child.ui.label}}</div><div class="span">{{modelDOMSData[child.name]}}</div>
        </div>
        <div class="form-group columns{{child.ui.columns}}" *ngSwitchCase="'HtmlDomDisplayType.StaticTextArea'"
             [ngStyle]="{'display': child.ui.hidden ? 'none' : 'show'}">
          <div class="label">{{child.ui.label}}</div><div class="span">{{modelDOMSData[child.name]}}</div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
