input{
    position: relative;
    padding: 4px 7px;
    width: 32%;
    height: 28px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    &:focus {
      border-color: #3b99fc;
      box-shadow: 0 0 3px 0 #3b99fc;
    }
}
.clearfix:after{  //清除浮动
    content: '';
    display: block;
    clear: both;
}
.m-b-20{
    margin-bottom:20px;
}


select{
    border-radius: 5px;
}

//附件
.accessory{
    border-bottom-width:0px;
    span.status{
        position: absolute;
        top:0;
        bottom:0;
        margin:auto;
        right:10px;
        height:20px;
        line-height:15px;
    }
    span.status-required{
        right:58px;
        background-color:'#e33244'
    }
    li{
        border-bottom:1px dashed #cf000d;
    }
    
    .accessoryTop{
        text-align:center;
        overflow:hidden;
        position: relative;
        height: 36px;
        line-height: 36px;
        &:hover{
            cursor: pointer;
            background-color: #cf000d;
            color: #FFF;
            font-size: 18px;
            height: 36px;
            line-height:  36px;
            font-weight: bold;
        }
    } 
    
    .accessoryBottom{
        ul{
            display:flex;
            background-color:#F2F2F2;
            li{
                flex-grow:1;
             }
        }
        .accessoryBottomTop{
            position: relative;
            padding-left:5px;
            background-color:#fff;
            font-size:12px;
            &:hover{
                cursor: pointer;
                background-color: #FFF;
                font-size:  12px;
                box-shadow: 2px 3px 8px #cf000d;
            }
         }
         .accessoryBottomBottom{
            padding-left:5px;
            background-color:#fff;
            pre{
                font-size:12px;
                margin-bottom: 30px;
                margin-top: 10px;
                line-height:16px;
                white-space: pre-wrap;
             }
             .auditBtnParent{
                .auditNeedCount{
                    float: left;
                }
                .auditBtn{
                    float: right;
                    cursor: pointer;
                    span{
                        height: 20px;
                        line-height: 15px;
                    }
                    .auditBtnPass{
                        background-color:#177bbb;
                    }
                    .auditBtnNotPass{
                        background-color:#666666;
                    }
                }
             }
         }
    }
    
} 

//高亮当前附件组 和 附件项
.attachmentGroupActive{
    background-color: #cf000d;
    color: #FFF;
    font-size: 18px;
    height: 36px;
    line-height:  36px;
    font-weight: bold;
}
.attachmentActive{
    background-color: #FFF;
    font-size:  12px;
    box-shadow: 2px 3px 8px #cf000d;
}

//提交申请按钮 
.resultBtn{
    text-align: center;
    clear: both;
    padding: 30px 0;
    button{
        margin:auto 2px;
    }
}
