input{
    position: relative;
    padding: 4px 7px;
    width: 32%;
    height: 28px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    &:focus {
      border-color: #3b99fc;
      box-shadow: 0 0 3px 0 #3b99fc;
    }
}
.clearfix:after{  //清除浮动
    content: '';
    display: block;
    clear: both;
}
.m-b-20{
    margin-bottom:20px;
}

.personInfoPic{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.personInfoPic img{
    width: 100%;
    height: 100%;
}

.personInfoConent ul li{
    width: 29%;
    float: left;
}
.personInfoConent ul li:last-child{  //户籍地，长度比较长
    width: 50%;
}
.loan{
    clear: both;
}
.loan-info li{
    width: 50%;
    float: left;
}
select{
    border-radius: 5px;
}

//附件
.accessory{
    border:1px solid #ccc;
    border-bottom-width:0px;
}
.accessory  span.status{
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:10px;
    // border:1px solid #ccc;
    height:20px;
    line-height:15px;
} 
.accessory li{
    border-bottom:1px solid #ccc;
}

.accessory .accessoryTop{
    text-align:center;
    border-bottom:1px solid #ccc;
    overflow:hidden;
    position: relative;
    &:hover{
        cursor: pointer;
        background-color:#1ccacc;
    }
} 

.accessory  .accessoryBottom ul{
    display:flex;
    background-color:#F2F2F2;
}
.accessory  .accessoryBottom ul li{
   flex-grow:1;
}
.accessory  .accessoryBottom .accessoryBottomTop{
    position: relative;
    padding-left:5px;
    border:1px solid #797979;
    &:hover{
        cursor: pointer;
        background-color:#21BDE3;
    }
 }
 .accessory  .accessoryBottom .accessoryBottomBottom{
    padding-left:5px;
    border:1px solid #E4E4E4;
    background-color:#E4E4E4;
 }

//高亮当前附件组 和 附件项
.attachmentGroupActive{
    border-width:0px;
    background-color:#1ccacc;
}
.attachmentActive{
    background-color:#21BDE3;
    border-color:#21BDE3 !important;
}