<form *ngIf="loanInfo">

  <!-- 个人信息和贷款信息 -->
  <free-personalLoanInfo [loanInfo]="loanInfo"></free-personalLoanInfo>

  <!-- 录入信息 -->
  <div class="loan" *ngIf="loanInfo._applyFormTemplate">
    <h4>录入信息</h4>
    <!-- 新增 -->
    <timi-responsive-form *ngIf="!loanInfo.applyFormData" [modelDOMS]="loanInfo._applyFormTemplate.doms" btnType="new" submitBtnNeed=""
      (ngSubmit)="onSubmitParams($event)"></timi-responsive-form>
    <!-- 修改 -->
    <timi-responsive-form *ngIf="loanInfo.applyFormData" [modelDOMS]="loanInfo._applyFormTemplate.doms" btnType="edit" submitBtnNeed=""
      (ngSubmit)="onSubmitParams($event)" [modelDOMSData]="loanInfo.applyFormData"></timi-responsive-form>
  </div>

  <!-- 所需附件 -->
  <div class="m-b-20">
    <h4>所需附件</h4>
    <ul class="clearfix accessory">
      <li *ngFor="let attachmentGroup of loanInfo._attachmentGroups;let i = index;">
        <div class="accessoryTop" (click)="displayAttachmentGroup(attachmentGroup.attachmentsDisplay,attachmentGroup,loanInfo._attachmentGroups,i)"
          [ngClass]="{'attachmentGroupActive':attachmentGroup.attachmentsDisplay}">
          <span>{{attachmentGroup.name}}</span>
          <span class="free-badge status status-required" *ngIf="setAttachmentGroupAttachmentRequired(i)">必填</span>
          <span class="free-badge status" [style.background-color]="statusStyle(attachmentGroup._status)">{{attachmentGroup._status}}</span>
        </div>
        <div class="accessoryBottom" *ngIf="attachmentGroup.attachmentsDisplay" [@selectState]="'attachmentsDisplay'">
          <ul>
            <li *ngFor="let attachment of attachmentGroup._attachments;let k = index;" (click)="displayAttachmentData(attachment,attachmentGroup,k)">
              <div class="accessoryBottomTop" [ngClass]="{'attachmentActive':k == 0 ? firstAttachmentActive : attachment.id == attachmentGroup.temporaryData.id}">
                <span>{{attachment.name}}</span>
                <span class="free-badge status status-required" *ngIf="attachment.required && attachment.needCount > 0">必填</span>
                <span class="free-badge status" [style.background-color]="statusStyle(attachment._status)">{{attachment._status}}</span>
              </div>
            </li>
          </ul>
          <!-- 附件组初始化状态  -->
          <div class="accessoryBottomBottom" *ngIf="!attachmentGroup.temporaryData && attachmentGroup._attachments">
            <pre *ngIf="attachmentGroup._attachments[0].description">{{attachmentGroup._attachments[0].description}}</pre>
            <p *ngIf="attachmentGroup._attachments[0].statusRemark">不通过原因：{{attachmentGroup._attachments[0].statusRemark}}</p>
            <div class="clearfix auditBtnParent">
              <p class="auditNeedCount">
                <span *ngIf="attachmentGroup._attachments[0].needCount">至少上传{{attachmentGroup._attachments[0].needCount}}个文件,</span>
                <span *ngIf="attachmentGroup._attachments[0].upperLimit">最多上传{{attachmentGroup._attachments[0].upperLimit}}个文件</span>
              </p>
            </div>
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup._attachments[0].id" [existingDatas]="attachmentGroup._attachments[0]._files
                    " (onPostFileData)="onPostFileData($event,i,attachmentGroup._attachments[0])" [uploaderQueueHidden]="true"
              [readyOnly]="attachmentGroup._attachments[0]._status == '通过'" [upperLimit]="attachmentGroup._attachments[0].upperLimit"></multiple-uploader>
          </div>
          <!-- 附件组非初始化状态,已经操作了 -->
          <div class="accessoryBottomBottom" *ngIf="attachmentGroup.temporaryData">
            <pre *ngIf="attachmentGroup.temporaryData.description">{{attachmentGroup.temporaryData.description}}</pre>
            <p *ngIf="attachmentGroup.temporaryData.statusRemark">不通过原因：{{attachmentGroup.temporaryData.statusRemark}}</p>
            <div class="clearfix auditBtnParent">
              <p class="auditNeedCount">
                <span *ngIf="attachmentGroup.temporaryData.needCount">至少上传{{attachmentGroup.temporaryData.needCount}}个文件,</span>
                <span *ngIf="attachmentGroup.temporaryData.upperLimit">最多上传{{attachmentGroup.temporaryData.upperLimit}}个文件</span>
              </p>
            </div>
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup.temporaryData.id" [existingDatas]="attachmentGroup.temporaryData._files
                    " (onPostFileData)="onPostFileData($event,i,attachmentGroup.temporaryData)" [uploaderQueueHidden]="true"
              [readyOnly]="attachmentGroup.temporaryData._status == '通过'" [upperLimit]="attachmentGroup.temporaryData.upperLimit"></multiple-uploader>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="resultBtn">
    <button type="button" class="mat-raised-button" *ngFor="let btn of loanInfo.btns" (click)="onSubmit($event,btn.url,btn.label,btn.status)">{{btn.label}}</button>
  </div>

</form>