<div class="regionBox" *ngIf="multiple">

  <!-- <p>
    <span>选择省份：</span>
    <button (click)="onSubmit($event,checkedAll)" class="submit">提交</button>
  </p> -->

  <div class="all">
    <input type="checkbox" (click)="allChecked($event,checkedAll)" #checkedAll id="all" class="hidden" [(ngModel)]="resCheckedAll">
    <label for="all" class="pad" [class.active]="checkedAll.checked">全国</label>

    <div class="showbox" *ngIf="isShowBox">

      <div class="province" *ngFor="let provinces of result;let i = index">
        <input type="checkbox" (click)="getProvince($event,province,i)" #province id=`province${{i}}` class="hidden" [(ngModel)]="provinces.checked">
        <label for=`province${{i}}` [class.active]="province.checked" class="pad">{{result[i].b}}</label>

        <ul *ngIf='province.checked && !checkedAll.checked'>
          <li *ngFor="let cities of result[i].c;let j = index" class="city">
            <input type="checkbox" (click)="getCity($event,province,city,i,j)" #city id="city${{result[i].c[j].a}}" class="hidden" [(ngModel)]="cities.checked">
            <label for="city${{result[i].c[j].a}}" [class.active]="city.checked" class="pad">{{result[i].c[j].b}}</label>

            <ul *ngIf="city.checked" class="county">
              <li *ngFor="let counties of result[i].c[j].c;let l = index" class="county">
                <input type="checkbox" (click)="getCounty($event,county,i,j,l)" #county id=`county${{result[i].c[j].c[l].a}}` class="hidden"
                  [(ngModel)]="counties.checked">
                <label for=`county${{result[i].c[j].c[l].a}}` [class.active]="county.checked" class="pad">{{result[i].c[j].c[l].b}}</label>
              </li>
            </ul>

          </li>
        </ul>

      </div>
    </div>

  </div>

</div>
<div *ngIf="!multiple" class="multipleAddress">

  <div *ngIf="!loginerBindAreas && multipleFalseModifiedData">
    <timi-select [ngModel]="multipleFalseModifiedData[0]" [options]="multipleFalseData" pholder="{{'请选择省份'}}" (onChange)="changeMultipleFalseData($event,1)"></timi-select>
    <timi-select [ngModel]="multipleFalseModifiedData[1]" [options]="multipleFalseCityData" pholder="{{'请选择城市'}}" (onChange)="changeMultipleFalseData($event,2)"></timi-select>
    <timi-select [ngModel]="multipleFalseModifiedData[2]" [options]="multipleFalseCountyData" pholder="{{'请选择区县'}}" (onChange)="changeMultipleFalseData($event,3)"></timi-select>
  </div>

  <div *ngIf="loginerBindAreas && multipleFalseModifiedData">
    <timi-select [ngModel]="multipleFalseModifiedData[0]" [options]="loginerBindAreas" pholder="{{'请选择省'}}" (onChange)="getThridAreaSelect($event,1)"></timi-select>
    <timi-select [ngModel]="multipleFalseModifiedData[1]" [options]="areaCities" pholder="{{'请选择市'}}" (onChange)="getThridAreaSelect($event,2)"></timi-select>
    <timi-select [ngModel]="multipleFalseModifiedData[2]" [options]="areaCounties" pholder="{{'请选择区'}}" (onChange)="getThridAreaSelect($event,3)"></timi-select>
  </div>

</div>