ul{
  margin-left: 30px;
}
.county {
  overflow: hidden;
}

.county li {
  float: left;
  margin-right: 4px;
}
.submit{
  width: 100px;
  float: right;
  background-color: #177BBB;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}
.hidden{
  display: none;
}
.pad {
  color: #666;
  font-size: 12px;
  padding: 2px 6px;

}
.active {
  color: #333 !important;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 6px;
  background-color: #cf000d;
  color: #FFF !important;
}

.province {
  line-height: 1.7;
}

.multipleAddress>div{
  padding-bottom:18px;
}



