:host /deep/ {
    .timi-chip{
        li{
            display: inline-block;
            padding: 6px 12px;
            border-radius: 4px;
            margin-right: 8px;
            margin-bottom: 5px;
            background-color: rgba(0,0,0,0.12);
        }
    }
}