:host /deep/ {
    ul,
    li {
        list-style: none;
    }
    .wrap-li {
        border: 1px solid red;
        margin: 20px;
        display: flex;
        align-items: center;
    }
    .wrap-div {
        display: inline-block;
        margin-left: 60px;
    }
    .list-wrap li {
      cursor: pointer;
      margin-left: 10px;
    }
    .list-wrap, .content-wrap {
      overflow: auto;
      height: 100%;
    }
}
