<!--<ul>-->
    <!--<li class="wrap-li" *ngFor="let item of datas">-->
        <!--{{item.description}}-->
        <!--<div class="wrap-div">-->
            <!--<ul>-->
                <!--<li [ngClass]="{'wrap-li' : field.target}" *ngFor="let field of item.fields">-->
                    <!--{{field.description}}<span class="pull-right">{{field._type == 'string' ? '(string)' : ''}}</span>-->
                    <!--<ng-container *ngIf="field.target">-->
                        <!--<app-main-member-map-list [data]="field.target"></app-main-member-map-list>-->
                    <!--</ng-container>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->

<div class="row" style="height: 100%;">
  <div class="col-lg-3">
    <ul class="list-wrap">
      <li *ngFor="let item of list;let i = index;" (click)="category(i)">
        {{i+1}}.{{item}}
      </li>
    </ul>
  </div>
  <div class="col-lg-9 content-wrap" *ngIf="data">
    <timi-json [params]="data" [comments]="true"></timi-json>
  </div>
</div>

