.upload-file-wrap {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px #eee;
  padding: 10px;
  h2 {
    text-align: center;
  }
  .file-item {
    margin: 0 20px;
    border-bottom: 2px solid #ccc;
    height: 70px;
    line-height: 70px;
    list-style: none;
    .item-progress {
      position: relative;
      top: -14px;
      border-radius: 10px;
    }
    i {
      font-size: 16px;
      cursor: pointer;
    }
  }
  span {
  }
  .thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
  }
  .fa-cloud-upload {
    font-size: 30px;
    margin: 20px 0 0 30px;
    position: relative;
    overflow: hidden;
    input {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .upload-btn {
    text-align: right;
    button {
      margin-top: 20px;
    }
  }
}

.upload-wrap {
  // padding-bottom: 20px;
  min-height: 100px;
  position: relative;
  // border: 1px solid #ccc;
  .upload-input-warp {
    width:100%;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;

    
    background-color: #FFF;
    border: 1px solid #CF000d;
    
 }
 .upload-input-warp:hover {
    // background: #AADFFD;
    // border-color: #78C3F3;
    // color: #004974;
    text-decoration: none;
 }
  .upload-input-warp input.upload-input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      width:100%;
      height: 80px;
  }
  .upload-input-warp .upload-custom-btn{
    width:100%;
    height: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    color: #cf000d;
}
  .item {
    background-color: #FFF;
    box-sizing: border-box;
    float: left;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px 2px #eee;
    padding: 4px;
    margin: 10px;
    list-style: none;
    position: relative;
    border-radius: 2px;
    .preview-box {
      img {
        width: 100px;
        height: 100px;
        display: block;
      }
    }
    .item-name {
      display: block;
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .item-alias {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #eee;
        background-color: transparent;
        border-bottom-color: transparent;
        color: #666;
        padding: 0px 5px;
        height:  24px;
        line-height:  24px;
        font-size: 12px;
        width:  100%;
        text-align:  center;
        // color: #;
        &:focus {
          border-bottom-color: #cf000d;
          
        }
      }
    }
    i {
      display: none;
      position: absolute;
      top: 4px;
      right: 4px;
      cursor: pointer;
      color: #666;
    }
    &:hover i {
      display: block;
      &:hover {
        color: #cf000d;
      }
    }
  }
  .item-success {
    border-color: green;
    box-shadow: 0 0 4px 0 green;
  }
  .item-error {
    border-color: #cf000d;
    box-shadow: 0 0 4px 0 #cf000d;
  }
  .item-hidden{
    display:none;
  }
}


/**清浮动**/

.clearfix {
  *zoom: 1;
}

.clearfix::before,
.clearfix::after {
  display: table;
  line-height: 0;
  content: '';
}

.clearfix::after {
  clear: both;
}
