<!--<div class="upload-file-wrap">-->
  <!--<ul>-->
    <!--<li *ngFor="let item of uploader.queue;let i = index;" class="file-item">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-2">-->
          <!--<img src="{{item.base}}" alt="" class="thumbnail">-->
        <!--</div>-->
        <!--<div class="col-sm-8">-->
          <!--<span>{{item.file.name | strlength}}</span>-->
          <!--<div class="item-progress">-->
            <!--<md-progress-bar mode="mode" [value]="item.progress"></md-progress-bar>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-2">-->
          <!--<i class="fa fa-trash" (click)="removeItem(item)"></i>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-2">-->
      <!--<i class="fa fa-cloud-upload deepblue">-->
        <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple style="opacity:0;">-->
      <!--</i>-->
    <!--</div>-->
    <!--<div class="col-sm-10 upload-btn">-->
      <!--<button md-button (click)="uploadAllFiles()" [disabled]="!uploader.getNotUploadedItems().length">上传</button>-->
      <!--<button md-button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">取消</button>-->
      <!--<button md-button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">移除</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>removeExistingItem(existingDatas,j)-->

<div class="upload-wrap">
  <ul class="clearfix">
    <div *ngIf="existingDatas">
        <li class="item item-success" *ngFor="let existingData of existingDatas;let j=index;" >
            <div class="preview-box">
                <img *ngIf="existingData.contentType == 'image/png' || existingData.contentType ==  'image/jpeg'" [src]="existingData.path + imgQuality" alt="existingData.name">
            </div>
            <div  class="item-name">
              <input  class="item-alias" id="{{existingData.id}}" [value]="existingData.name" (blur)="onBlur($event,existingData)" spellcheck="false" autocomplete="off" >
            </div>
            <i class="fa fa-close" (click)="removeExistingItem(existingData)"></i>
        </li>
      
    </div>
    <div *ngIf="uploader.queue">
      <li class="item" *ngFor="let item of uploader.queue" [ngClass]="{'item-success':item.isSuccess}"
        [ngClass]="{'item-error':ite.isError}">
        <div class="preview-box">
          <img src="{{item.base}}" alt="{{item.alias}}">
        </div>
        <div class="item-name">
          <input class="item-alias" value="{{item.alias}}" (blur)="onBlur($event,item)" id="{{item.id}}" spellcheck="false" autocomplete="off" >
        </div>
        <div class="item-progress" *ngIf="item.isUploading">
          <md-progress-bar mode="mode" [value]="item.progress"></md-progress-bar>
        </div>
        <i class="fa fa-close" (click)="removeItem(item)"></i>
      </li>
    </div>
  </ul>
  <!-- {{fun(uploader)}} -->
  <a href="javascript:;" class="upload-input-warp">
      <div class="upload-custom-btn ">
          <i class="fa fa-plus"></i>
      </div>
      <input type="file" class="upload-input" ng2FileSelect [uploader]="uploader" multiple (change)="changeNickname($event)">
  </a>
</div>
