.wrap {
  position: relative;
}
.form-group {
  margin-bottom: 10px;
  float: left;
}
.columns1 {
  width: 50%;
}
.columns2 {
  width: 100%;
}
.radio-label, .checkbox-label {
  display: inline-block;
  width: 30%;
}
free-checkbox, free-radio {
  display: inline-block;
  width: 69%;
}

.btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: 0;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  background-color: red;
  opacity: 0.3;
  transition: opacity .1s;
  &:hover {
    opacity: 1;
  }
}
.moveBox{
  position: relative;
  left: 0;
  top: 0;
}
