.wrap {
  position: relative;

}
.wrap-border{
  border:1px solid #d9d9d9;
  border-radius:4px;
}
.form-group {
  margin-bottom: 10px;
  float: left;
}

.columns1 {
  width: 50%;
}

.columns2 {
  width: 100%;
}

.radio-label, .checkbox-label {
  display: inline-block;
  width: 30%;
}

free-checkbox, free-radio {
  display: inline-block;
  width: 69%;
}

.btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: 0;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  background-color: red;
  opacity: 0.3;
  transition: opacity .1s;
  &:hover {
    opacity: 1;
  }
}

.moveBox {
  position: relative;
  left: 0;
  top: 0;
  cursor: move;
}
// 静态模板样式

.form-group {
  .label {
    float: left;
    width:25%;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    // &::after {
    //   content: ':';
    //   position: relative;
    //   margin: 0 8px 0 2px;
    // }
  }
  .span {
    float: left;
    width: 70%;
  }
  .img-wrap {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
}
//附件项
.label-level-1{
  padding-left:25.5%;
  // width:26%;
  // text-align:center;
}
.label-level-2{
  padding-left:17%;
  // width: 52%;
  // text-align:center;
}