<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="d">
        aaaaaaaaaaaa
        <input type="text" name="" value="" id='text'>
    </div>
    <script>
        window.onload=function(){
            let i=document.getElementById('d');
            let test=document.getElementById('text');
            d.onclick=function () {
                console.log(1);
                d.style.color = 'red';
            }
            test.onclick=function(e){
                e.stopPropagation();
            }
        }
    </script>
</body>
</html>