<md-sidenav-container class="example-container" [@fadeInState]="'active'">
  <!--<div class="main-container clearfix">-->
    <!--<search-form [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>-->
    <!--<button fButton *ngIf="authorities.indexOf(authorityKey+'.Add') != -1" color="deepblue" class="add-button"-->
            <!--(click)="newAdd();sidenav.open()">添加-->
    <!--</button>-->
  <!--</div>-->
  <!--<app-table [data]="filteredData" [columns]="columns" [totals]="filteredTotal"-->
             <!--[clickAuthority]="authorities.indexOf(authorityKey+'.Detail') || authorities.indexOf(authorityKey+'.Update')"-->
             <!--[pageLinkCount]="pageLinkCount"-->
             <!--(change)="page($event)" (rowClick)="rowClickEvent($event);sidenav.open()"></app-table>-->
  <md-sidenav #sidenav class="example-sidenav container-fluid" align="end">
    <!--<div style="float: left;width: 40%;height: 100%;">-->
      <!--<md-select placeholder="选择数据源" [(ngModel)]="collection" (change)="onChange($event)">-->
        <!--<md-option *ngFor="let item of options" [value]="item.value">-->
          <!--{{ item.text }}-->
        <!--</md-option>-->
      <!--</md-select>-->
      <!--<ng-container style="margin-left:-30px;" *ngIf="tree">-->
        <!--<div class="wrap iscroll" style="height:100%;overflow:auto;">-->
          <!--<div *ngFor='let item of tree' draggable="true" (dragstart)="drag($event)" class="depth-{{item.depth}}"-->
               <!--title={{item.name}}>{{item.description}}{{' { '+item.name+' } '}}-->
          <!--</div>-->
        <!--</div>-->
      <!--</ng-container>-->
    <!--</div>-->
    <!--<div class="iscroll" style="float:left;width:60%;height:100%;overflow-y:auto;">-->

    <!--</div>-->
  </md-sidenav>
</md-sidenav-container>
