<md-sidenav-container [@fadeInState]="'active'">

  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters"
                 (onSearch)="onSearch($event)"></search-form>
  </div>

  <!--<app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize" [activeIndex]="currentPage"-->
  <!--[clickAuthority]="2" (change)="page($event)" (rowClick)="rowClickEvent($event);sidenav.open()" (rowSelect)="selectedRows($event)">-->
  <!--</app-table>-->

  <timi-table #table [data]="filteredData" [headers]="columns" [totals]="filteredTotal" [pageSize]="pageSize"
              [activeIndex]="currentPage" [clickRowable]="true" (pageEvent)="page($event)"
              (clickRowEvent)="rowClickEvent($event);sidenav.open()"></timi-table>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" (close)="closeEnd()">
    <div class="row">
      <!-- 默认展示的侧滑 -->
      <div class="col-lg-12"  *ngIf="sideNavType===1">
        <div class="distributionDetail">
          <div class="detailBtn">
            <span>分销详情：</span>
            <button md-raised-button class="passBtn" (click)="toDetail()">订单详情</button>
          </div>
          <p>
            <span>产品类型：</span>
            <span>{{detailInfo?._orderType}}</span>
          </p>
          <p>
            <span>产品名称：</span>
            <span>{{detailInfo?.proName}}</span>
          </p>
          <p>
            <span>所属机构：</span>
            <span>{{detailInfo?.orgName}}</span>
          </p>
          <p>
            <span>介绍人姓名：</span>
            <span>{{detailInfo?.firstLevelName?detailInfo.firstLevelName:''}}</span>
          </p>
          <p>
            <span>客户姓名：</span>
            <span>{{detailInfo?.orderOwenerName}}</span>
          </p>
          <p>
            <span>分佣人姓名：</span>
            <span>{{detailInfo?.userName}}({{detailInfo?.userStatus}})</span>
          </p>
          <p>
            <span>返佣总金额：</span>
            <span>{{detailInfo?.totalValue}}</span>
          </p>
          <p>
            <span>收到的返佣金额：</span>
            <span>{{detailInfo?.value}}</span>
          </p>
          <p>
            <span>返佣状态：</span>
            <span>{{detailInfo?._tradeState}}</span>
          </p>
          <div class="note">
            <span>备注：</span>
            <textarea name="note" id="first" cols="30" rows="10" (blur)="getMessage($event,note)" #note></textarea>
          </div>
          <div class="pass" *ngIf="audit">
            <span>审核操作：</span>
            <div class="btnBox" *ngIf="!showResult">
              <button md-raised-button class="passBtn" (click)="pass()">通过</button>
              <button md-raised-button class="passBtn" (click)="noPass()">不通过</button>
            </div>
            <span *ngIf="showResult">{{resultMessage}}</span>
          </div>
        </div>
        <button md-raised-button class="add-button" (click)="toSubmit()">确定</button>
      </div>
      <!-- 订单详情时的侧滑 -->
      <div class="col-lg-12" *ngIf="sideNavType===2">
        
        <detail-model *ngIf="detailModel && selectRow" [modelDOMS]="detailModel" [modelDOMSData]="selectRow" (onClick)="detailClick($event)"></detail-model>
      </div>
      <!-- 产品详情时的侧滑 -->
      <div class="col-lg-12" *ngIf="sideNavType===3">
        <free-auditInfo [id]="detailId" status="Detail" (detailClick)="detailClick($event)"></free-auditInfo>
      </div>
    </div>
  </md-sidenav>

</md-sidenav-container>
