.add-button {
  width: 88px;
  left: calc(50% - 44px);
  top: 20px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 2px;
}

md-sidenav-container {
  height: 100%;
  .main-container {
    padding: 10px;
  }
}

md-sidenav {
  width: 60%;
}

.detail table {
  width: 100%;
}

.detail table td {
  text-align: center;
}

.distributionDetail p span:first-child {
  display: inline-block;
  width: 20%;
}

.distributionDetail p span:last-child {
  display: inline-block;
  width: 70%;
}
