<div [@fadeInState]="'active'">

  <div class="topContent">
    <ul>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
      <li>今日报单数量：XXXXX</li>
    </ul>
  </div>
  <div class="tab">
    <span class="tabSpan" [class.active]="showTab==1" (click)="changeTabOne()">用户统计</span>
    <span class="tabSpan" [class.active]="showTab==2" (click)="changeTabTwo()">成交金额统计</span>
    <span class="tabSpan" [class.active]="showTab==3" (click)="changeTabThree()">佣金统计</span>
    <div id="main" style="width: 100%;height:700px;"></div>
  </div>

</div>