:host /deep/ {
  .example-container {
    height: 100%;
  }
  .example-sidenav {
    width: 70%;
    .position-group {
      margin-left: 100px;
      margin-top: 20px;
    }
    .field-group {
      background-color: #eee;
    }
    @for $i from 0 to 4 {
      .depth-#{$i}{
        margin-left: 20px*$i;
      }
    }
  }
  .main-container {
    .add-button {
      margin-top: 30px;
    }
  }
}
