:host /deep/ {
  .example-container {
    height: 100%;
  }
  .example-sidenav {
    width: 70%;
    .position-group {
      margin-left: 100px;
      margin-top: 20px;
    }
  }
  .main-container {
    .add-button {
      margin-top: 30px;
    }
  }
}
