input{
    position: relative;
    padding: 4px 7px;
    width: 32%;
    height: 28px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    &:focus {
      border-color: #3b99fc;
      box-shadow: 0 0 3px 0 #3b99fc;
    }
}
.clearfix:after{  //清除浮动
    content: '';
    display: block;
    clear: both;
}
.m-b-20{
    margin-bottom:20px;
}

.personInfoPic{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    img{
        border-radius: 50%;
    }
}
.personInfoPic img{
    width: 100%;
    height: 100%;
}

.personInfoConent ul li{
    width: 29%;
    float: left;
}
.personInfoConent ul li:last-child{  //户籍地，长度比较长
    width: 50%;
}
.loan{
    clear: both;
}
.loan-info li{
    width: 50%;
    float: left;
    height:46px;
}
.loan-info li.areasComponent{
    width: 100%;
}

select{
    border-radius: 5px;
}

.form-group .label{
    float: left;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    width: 120px;
}
.form-group .span {
    float: left;
    width: calc(100% - 120px);
}
.item-label {
    text-align: right;
    width: 120px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.box-item {
    float: left;
    box-sizing: border-box;
}
.item-control-wrapper {
    width: calc(100% - 120px);
}
.loan-info .unit{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}