<md-sidenav-container class="example-container" [@fadeInState]="'active'">
  <md-sidenav #sidenav class="example-sidenav container-fluid" position="end" (open-start)="sidenavOpen()"
              (close)="closeEnd()">
    <div class="row">
      <div class="sidenav-left" *ngIf="!isNew">
        <div class="sidenav-container">
          <ng-container *ngIf="!tree">loading</ng-container>
          <tree [tree]="tree" (nodeSelected)="treeSelected($event)" (onAddChild)="addChild($event)"></tree>
        </div>
      </div>
      <div class="sidenav-right" *ngIf="selectNode">
        <md-tab-group>
          <md-tab label="修改" *ngIf="authorities.indexOf(authorityKey+'.Update') != -1">
            <timi-responsive-form *ngIf="modalDOMS" [modelDOMS]="modalDOMS" [modelDOMSData]="selectNode" btnValue="确定修改"
                                  (ngSubmit)="onSubmitParams($event)"></timi-responsive-form>
          </md-tab>
          <md-tab label="添加" *ngIf="authorities.indexOf(authorityKey+'.Add') != -1">
            <timi-responsive-form *ngIf="modalDOMS" [modelDOMS]="modalDOMS" btnValue="确定新增" btnType="new"
                                  (ngSubmit)="onSubmitAddParams($event)"></timi-responsive-form>
          </md-tab>
        </md-tab-group>
      </div>
      <div class="sidenav-new" *ngIf="isNew">
        <md-tab-group>
          <md-tab label="添加">
            <timi-responsive-form *ngIf="modalDOMS" [modelDOMS]="modalDOMS" btnValue="确定新增" btnType="new"
                                  (ngSubmit)="onSubmitNewAdd($event)"></timi-responsive-form>
          </md-tab>
        </md-tab-group>
      </div>
    </div>
  </md-sidenav>

  <div class="main-container clearfix">
    <search-form [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button *ngIf="authorities.indexOf(authorityKey+'.Add') != -1" color="deepblue" class="add-button"
            (click)="newAdd();sidenav.open()">添加
    </button>
  </div>

  <!--<app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal"-->
             <!--[clickAuthority]="authorities.indexOf(authorityKey+'.Detail') || authorities.indexOf(authorityKey+'.Update')"-->
             <!--[pageLinkCount]="pageLinkCount" [activeIndex]="currentPage" (change)="page($event)"-->
             <!--(rowClick)="rowClickEvent($event);sidenav.open()"></app-table>-->

  <timi-table
    [filter]="columns"
    [data]="filteredData"
    [selectable]="true"
    [clickRowable]="authorities.indexOf(authorityKey+'.Detail') !== -1"
    [totals]="filteredTotal"
    [pageSize]="pageSize"
    [activeIndex]="currentPage"
    (pageEvent)="page($event)"
    (clickRowEvent)="rowClickEvent($event);sidenav.open()">
  </timi-table>

</md-sidenav-container>
