<div class="free-editor-container free-ui" #container [style]="style" [class.free-editor-fullscreen]="fullscreen" [style.maxHeight]="setSize(maxHeight)">
  <div class="free-toolbar clearfix" #toolbar [style.display]="toolbar ? 'block' : 'none'">
    <ng-template ngFor [ngForOf]="toolbarButtons" let-name>
      <a #btn class="free-toolbar-icon free-editor-tooltip" (click)="onMenuButtonClick($event, defaultButtons[name], btn)" [class.free-disabled]="!undoManager && (name === 'undo' || name === 'redo')"
        [class.dropdown]="name === 'align' || name === 'heading' || name === 'fontSize'" [attr.data-tooltip]="defaultButtons[name].title"
        [attr.data-edit]="name">
        <ng-container *ngIf="name !== 'align'; else alignButton">
          {{defaultButtons[name].icon}}
        </ng-container>
        <ng-template #alignButton>{{alignIcon}}</ng-template>
      </a>
    </ng-template>
  </div>
  <div class="free-editor">
    <div class="free-editor-wrapper free-iscroll" #editor tabindex="1" contenteditable="true" spellcheck="false" (focus)="onFocus()"
      (blur)="onBlur()" (keydown)="onKeydown($event)" (mouseup)="onMouseup($event)" (mousedown)="onMouseDown($event)" (keyup)="onEtKeyup($event)">
    </div>
  </div>
  <div class="free-table-resizer">
    <div class="free-table-resizer-line"></div>
  </div>
  <div class="free-modal-portal" [style.top]="toolbarHeight + 'px'" #modal [style.display]="isModalShow ? 'block' : 'none'">
    <span class="free-modal-arrow"></span>
    <div class="editor-heading" [style.display]="isHeadingShow ? 'block' : 'none'">
      <h1 (click)="onHeadingClick('h1')">h1</h1>
      <h2 (click)="onHeadingClick('h2')">h2</h2>
      <h3 (click)="onHeadingClick('h3')">h3</h3>
      <h4 (click)="onHeadingClick('h4')">h4</h4>
      <h5 (click)="onHeadingClick('h5')">h5</h5>
      <h6 (click)="onHeadingClick('h6')">h6</h6>
    </div>
    <div class="editor-align" [style.display]="isAlignShow ? 'block' : 'none'">
      <a #alignBtn class="free-toolbar-icon free-editor-tooltip" *ngFor="let btn of alignButtons" (click)="onMenuButtonClick($event, btn, alignBtn)"
        [attr.data-tooltip]="btn.title" [class.active]="btn.selected" [attr.data-edit]="btn.name">{{btn.icon}}</a>
    </div>
    <div class="editor-fontSize free-iscroll" [style.display]="isFontSizeShow ? 'block' : 'none'">
      <ul>
        <li *ngFor="let size of fontSize" [class.active]="size == currentFontSize">
          <span (click)="changeFontSize($event, size)">{{size}}</span>
        </li>
      </ul>
    </div>
    <div class="editor-color-picker" [style.display]="isColorpickerShow ? 'block' : 'none'">
      <free-color-picker [(ngModel)]="color" (onChange)="onColorChange($event)" [clickable]="true" (onClick)="onColorpickerClick()"
        [inline]="true"></free-color-picker>
    </div>
    <div class="editor-link" [style.display]="isLinkShow ? 'block' : 'none'">
      <input type="text" #link placeholder="www.example.com" class="editor-link-input" />
      <button type="button" class="editor-confirm" (click)="onLinkConfirm(link.value)">Insert</button>
    </div>
    <div class="editor-file" [style.display]="isUploadShow ? 'block' : 'none'">
      <!-- <div class="editor-link">
        <input type="text" #imageUrl placeholder="image url" class="editor-link-input" />
        <button type="button" class="editor-confirm" (click)="uploadImage(imageUrl.value)">Insert</button>
      </div> -->
      <div class="editor-upload">
        <i class="fa fa-plus"></i> Upload
        <input type="file" name="photo" accept="image/*" ng2FileSelect [uploader]="uploader" class="editor-file-input" (change)="onUploadChange($event)"
        />
      </div>
    </div>
    <div class="editor-emotion" [style.display]="isEmotionShow ? 'block' : 'none'">
      <ng-template ngFor [ngForOf]="emotions" let-emotion let-i="index">
        <span class="emotion-item">
          <img src="{{path + emotion}}.svg" class="emotion" width="20" height="20" alt="" (click)="onEmotionClick($event)" />
        </span>
        <br *ngIf="i % 8 === 7">
      </ng-template>
    </div>
    <div class="editor-table" *ngIf="isTableShow">
      <p>{{selectedRow + 1}} * {{selectedCol + 1}}</p>
      <div class="editor-table-wrapper">
        <ng-template ngFor [ngForOf]="tds" let-td let-i="index">
          <span class="editor-table-td" [class.active]="isTdInSelected(i)" (mouseenter)="onTdMouseenter(i)" (mousedown)="onTdMousedown(i)">
            <span></span>
          </span>
          <br *ngIf="i % 10 === 9">
        </ng-template>
      </div>
    </div>
  </div>
  <div class="free-popup" #linkPopup [style.display]="isLinkPopupShow ? 'block' : 'none'">
    <div class="editor-link">
      <input type="text" #linkInput [(ngModel)]="linkUrl" placeholder="www.example.com" class="editor-link-input" />
      <button type="button" class="editor-confirm" (click)="onLinkChange(linkInput.value, widthInput.value, heightInput.value)">Update
      </button>
    </div>
    <div class="image-size" [style.display]="isImageLink ? 'block' : 'none'">
      <span>width：</span>
      <input type="text" #widthInput>
      <span>height：</span>
      <input type="text" #heightInput>
    </div>
    <div class="arrow"></div>
  </div>
  <div class="free-popup" #tablePopup [style.display]="isTablePopupShow ? 'block' : 'none'">
    <div class="arrow"></div>
    <div class="free-table-button">
      <span class="free-dropdown-menu free-editor-tooltip" [attr.data-tooltip]="'Row'" (click)="onTableDropdown(row, col)">
        <i class="fa fa-bars"></i>
        <ul #row>
          <li (click)="addRow(1)">Insert row above</li>
          <li (click)="addRow(-1)">Insert row below</li>
          <li (click)="deleteRow()">Delete row</li>
        </ul>
      </span>
      <span class="free-dropdown-menu free-editor-tooltip" [attr.data-tooltip]="'Column'" (click)="onTableDropdown(col, row)">
        <i class="fa fa-bars fa-rotate-90"></i>
        <ul #col>
          <li (click)="addColumn(-1)">Insert column before</li>
          <li (click)="addColumn(1)">Insert column after</li>
          <li (click)="deleteColumn()">Delete column</li>
        </ul>
      </span>
      <span (click)="deleteTable()" class="free-editor-tooltip" [attr.data-tooltip]="'Delete table'">
        <i class="fa fa-trash"></i>
      </span>
    </div>
  </div>
  <div class="free-editor-cache" *ngIf="cacheTip">
    Local save successful
  </div>
  <div class="free-editor-counter" *ngIf="counter">
    {{contentLength}}
  </div>
</div>
