<form *ngIf="false">

  <div class="declaration">
    <div class="searchBox">

      <span style="color:rgba(0, 0, 0, 0.5);">关键字：</span>
      <input type="text" name="search" placeholder="搜索产品" class="info-input">
      <button class="searchBtn">搜索</button>

      <ul class="selectType">
        <li *ngFor="let type of productType;let i = index">
          <input type="radio" id="type{{i}}" class="hidden" name="productType" #product>
          <label for="type{{i}}" [class.active]="product.checked">{{type.name}}</label>
        </li>
      </ul>
      
    </div>

    <ul class="products" [class.productActive]="productsStyle">

      <li *ngFor="let product of productDetail;let i = index" (click)="changeStyle($event,liActive,i)" #liActive id="{{i}}" [class.liActive]="liActive.id==index"
        class="productList">
        <img src="../../../assets/iconred.png" alt="logo" class="pic">
        <div class="content" *ngIf='!(liActive.id==index)'>
          <p>产品名称</p>
          <p>利率描述</p>
          <p>20万~2000万</p>
        </div>
        <div class="moreContent" *ngIf='liActive.id==index'>
          <ul>
            <li>年化：{{product.yearRate}}</li>
            <li>月利率：{{product.monthlyRate}}</li>
            <li>期限：{{product.term}}</li>
            <li>还款方式：{{product.repaymentMethod}}</li>
            <li>标签：{{product.name}}</li>
            <li>担保方式：{{product.type}}</li>
            <!-- <li>准入标准：{{product.applicationConditions}}</li> -->
            <li>
              <span>简介：{{product.summary}}</span>
            </li>
          </ul>
        </div>
      </li>

    </ul>

  </div>

  <div class="authentication" *ngIf="showAuthentication">
    <ul class="info">
      <li>
        <span class="left">身份证号：</span>
        <input type="text" (keyup)="authentication($event,person)" #person class="info-input" placeholder="请输入长度为18的身份证号码" maxlength="18">
        <span class="right red" *ngIf="errorOfPerson==1">{{errorMessage}}</span>
        <span class="right red" *ngIf="errorOfPerson==2">{{errorMessage}}</span>
      </li>
       <!-- *ngIf="showCertification==2" -->
      <li *ngIf="showCertification==2">
        <span class="left">银行卡号：</span>
        <input type="text" (keyup)="getbankCard($event,bankNum)" #bankNum class="info-input" placeholder="请输入银行卡号" maxlength="19">
        <span class="right red" *ngIf="showBankError">{{errorBank}}</span>
      </li>
      <li *ngIf="showCertification==2">
        <span class="left">银行预留手机号：</span>
        <input type="text" #phoneNum class="info-input" placeholder="请输入长度为11位数字的电话号码" maxlength="11">
        <span class="right">
          <button type="button" (click)="getPhoneNum($event,phoneNum)">发送验证码</button>
        </span>
      </li>
      <li *ngIf="showCertification==2">
        <span class="left">短信验证码：</span>
        <input type="text" (keyup)="getCode($event,code)" #code class="info-input" placeholder="请输入长度为4的数字验证码" maxlength="4">
        <span class="right red" *ngIf="showCodeError">{{errorCode}}</span>
      </li>
    </ul>

    <div class="authenticationPic" *ngIf="showCertification==2">

      <timi-file-uploader [btnName]="'身份证人相面'" name="portrait" (success)="uploaded1($event)"></timi-file-uploader>
      <timi-file-uploader [btnName]="'身份证国徽面'" name="NationalEmblem" (success)="uploaded2($event)"></timi-file-uploader>
      <timi-file-uploader [btnName]="'单人生活照片'" name="life" (success)="uploaded3($event)"></timi-file-uploader>

    </div>
    <div class="authenticationBtn" *ngIf="showCertification==2">
      <button (click)="onCertification($event)" type="button">开始认证</button>
    </div>
  </div>

  <div class="result" *ngIf="showPersonData || (showCertification==1)">
    <div class="leftBox">
      <img [src]="personData.portrait" alt="">
      <img [src]="personData.face" alt="">
    </div>
    <div class="rightBox">
      <ul>
        <li>相似度：{{personData.confidence}}</li>
        <li>相似阀值：{{personData.similarity}}</li>
        <li>姓名：{{personData.name}}</li>
        <li>性别：{{personData._sex}}</li>
        <li>年龄：{{personData.age}}</li>
        <li>民族：{{personData.nation}}</li>
        <li>户籍地：{{personData.domicile}}</li>
      </ul>
    </div>
    <div class="resultBtn">
      <button type="button" (click)="onSubmit($event)">申请贷款</button>
    </div>
  </div>

</form>
<free-application></free-application>