.add-button {
  width: 88px;
  left: 40px;
  top: -3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 2px;
}

button {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 2px;
}

// .declaration {
//   position: relative;
//   height: 234px;
//   overflow: auto;
// }
.declaration .search {
  border-radius: 5px;
}

.searchBox {
  display: inline-block;
}

.selectType {
  position: relative;
  top: 14px;
  height: 34px;
  margin-left: 30px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  input:checked {
    &+label {
      color: #333 !important;
      border-radius: 10px;
      font-size: 14px;
      padding: 2px 6px;
      background-color: #cf000d;
      color: #FFF !important;
    }
  }
}

.selectType li {
  margin-right: 8px;
  float: left;
}

.hidden {
  display: none;
}

.active {
  color: #333 !important;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px 6px;
  background-color: #cf000d;
  color: #FFF !important;
}

.productsBox {
  height: 120px;
  overflow: auto;
  margin-top: 20px;
}

.products {
  position: relative;
}

.ulActive {
  padding-top: 82px;
}


.liActive {
  width: 100%!important;
  border-color: #333!important;
  position: absolute;
  top: 0;
}

.products li {
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 86px;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.pic {
  width: 60px;
  height: 60px;
  margin-top: 8px;
  float: left;
}

.content {
  margin-left: 8px;
  float: left;
}

.content p {
  height: 22px;
  font-size: 12px;
}

.info li {
  margin-bottom: 20px;
}

.info li .info-input{
  position: relative;
  padding: 4px 7px;
  width: 32%;
  height: 28px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  &:focus {
    border-color: #3b99fc;
    box-shadow: 0 0 3px 0 #3b99fc;
  }
}

.info li .left,
.info li .right {
  display: inline-block;
  width: 120px;
  color: rgba(0, 0, 0, 0.5);
}

.info li .left {
  text-align: right;
}

.info li input {
  width: 200px;
  border-radius: 5px;
  padding: 0 4px;
}

.info li .red {
  color: red;
}

.info li .right {
  width: 32%;

}

.authentication {
  margin-top: 40px;
}

.authenticationPic {
  display: flex;
}

.authenticationPic div {
  height: 120px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 40px;
  flex: 1;
  border: 1px solid #333;
}

.authenticationPic div:last-child {
  margin-right: 0;
}

.authenticationPic div span {
  display: inline-block;
  width: 100%;
  line-height: 120px;
  text-align: center;
}

.authenticationBtn {
  text-align: center;
  margin: 40px 0;
}

.resultBtn {
  text-align: center;
  clear: both;
  padding: 30px 0;
}

.result {
  overflow: hidden;
}

.leftBox,
.rightBox {
  float: left;
}

.leftBox {
  margin-right: 30px;
}

.rightBox ul li {
  color: rgba(0, 0, 0, 0.5);
  height: 24px;
}

.leftBox img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.leftBox img:first-child {
  margin-right: 30px;
}

.moreContent {
  overflow: hidden;
}

.moreContent li {
  height: 22px;
  font-size: 12px;
  line-height: 20px;
}

.moreContent li:last-child {
  width: 100%;
}

:host /deep/ {
  timi-file-uploader {
    .preview {
      width: 250px;
      height: 150px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .authentication {
    timi-input {
      .form-item .item-control-wrapper {
        width: 280px;
      }
    }
  }
}
