:host /deep/ {
  .form-item {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    .box-item {
      float: left;
      box-sizing: border-box;
    }
    .item-label {
      text-align: right;
      width: 120px;
      &::after {
        content: ":";
        margin: 0 8px 0 2px;
      }
    }
    .item-control-wrapper {
      width: calc( 100% - 120px);
    }
    .item-input {
      position: relative;
      padding: 4px 7px;
      width: 100%;
      height: 28px;
      line-height: 1.5;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      transition: all .3s;
      &:focus {
        border-color: #3b99fc;
        box-shadow: 0 0 3px 0 #3b99fc;
      }
    }
    .item-error-tip {
      color: #cf000d;
      font-size: 12px;
      position: absolute;
      top: 22px;
      display: none;
    }
    .error {
        .item-input {
            border-color: #cf000d;
        }
        .item-error-tip {
            display: block;
        }
    }

  }



    //label {
    //    display: inline-block;
    //    width: 100px;
    //    text-align: end;
    //}
    //.timi-input-wrap {
    //    display: inline-block;
    //    position: relative;
    //    width: 300px;
    //}
    //.timi-input {
    //    height: 35px;
    //    line-height: 35px;
    //    border-width: 0 0 1px;
    //    background-color: transparent;
    //    border-color: #fff;
    //    color: #999;
    //    width: 100%;
    //    outline: none;
    //    text-decoration: none;
    //    &:focus+.timi-span-line {
    //        width: 100%;
    //        left: 0;
    //    }
    //}
    //.timi-input-error {
    //    color: #cf000d;
    //    font-size: 12px;
    //    position: absolute;
    //    top: 36px;
    //    display: none;
    //}
    //.timi-span-line {
    //    display: block;
    //    width: 0;
    //    height: 2px;
    //    position: absolute;
    //    bottom: 0;
    //    left: 50%;
    //    background-color: #115d8e;
    //    transition: all 0.2s linear;
    //}
    //.error {
    //    .timi-input {
    //        border-bottom-width: 2px;
    //        border-color: #cf000d;
    //    }
    //    .timi-input-error {
    //        display: block;
    //    }
    //}
}
