* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
html {
    font-size: 16px;
}
textarea {
    resize: none;
}
.top-menu {
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    transition: all .25s;
}
.left-menu {
    position: absolute;
    top: 3rem;
    left: 0;
    bottom: 0;
    width: 12.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
    z-index: 1;
    transition: all .25s;
}
.left-menu li {
    height: 50px;
    line-height: 50px;
    text-indent: 2rem;
}
.left-menu li a {
    display: block;
    color: #666;
    text-decoration: none;
}
.left-menu li a:hover {
    background-color: red;
}
.main-container {
    position: absolute;
    background-color: #fff;
    /* left: 12.5rem;
    top: 3rem;
    bottom: 0;
    right: 0; */
    padding: .75rem;
    overflow-x: hidden;
    overflow-y: auto;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.m-l-1 {
    margin-left: 20px;
}
.m-l-2 {
    margin-left: 40px;
}
.m-l-3 {
    margin-left: 60px;
}
.m-b-10 {
    margin-bottom: 10px !important;
}

.table-base-info label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.table-base-info > div {
    margin: 10px 0;
}
.table-base-info select, .table-base-info input {
    width: 200px !important;
}

.table-content label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.table-content select  {
    width: 150px !important;
}
.table-content input[type="text"]{
    width: 150px;
}

#collectionsContent {
    height: 66vh;
    overflow: auto;
}

.nowrap {
    white-space: nowrap;
}

.element-wrap label {
    position: absolute;
    line-height: 30px;
    left: 6px;
}
.checkbox{
    line-height: 34px;
}
.checkbox label {
    display: inline !important;
    line-height: 34px;
}

.full{
    width: calc(100% - 104px) !important;
}

.addnotes,.dellnotes{
    line-height: 34px;
}