:host /deep/ {
  .form-group {
    margin-bottom: 10px;
    float: left;
  }
  .columns1 {
    width: 50%;
  }
  .columns2 {
    width: 100%;
  }
  .radio-label, .checkbox-label {
    display: inline-block;
    width: 30%;
  }
  free-checkbox, free-radio {
    display: inline-block;
    width: 69%;
  }

  .box-item {
    float: left;
    box-sizing: border-box;
  }
  .item-label {
    text-align: right;
    width: 120px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    &::after {
      content: ":";
      margin: 0 8px 0 2px;
    }
  }
  .item-control-wrapper {
    width: calc(100% - 120px);
  }
  .edui-editor div {
    line-height: 18px;
  }

  //验证error 样式
  .form-group {
    margin-bottom: 2px;
  }

  .errBorderParent {
    position: relative;
    height: 48px;
  }

  .errBorderParentFileUpLoad {
    position: relative;
    height: 170px;
    margin-bottom: 32px;
    .errBorder {
      bottom: -50px;
      left: 4px;
    }
  }
  .errBorderParentTags {
    margin-bottom: 7px;
    .errBorder {
      bottom: -5px;
    }
  }
  .errBorderParentTextArea {
    position: relative;
    height: 108px;
  }
  .errBorderParentSelect {
    position: relative;
    height: 48px;
  }

  .errComponent {
    input, .free-select, .item-textarea {
      border-color: #cf000d !important;
    }
    .timi-chip-input {
      border: 1px solid #cf000d !important;
      border-radius: 10px;
    }
    .preview {
      border: 1px solid #cf000d;
    }
  }
  .errBorder {
    background-color: #cf000d;
    border-radius: 10px;
    font-size: 12px;
    color: #FFF;
    padding: 0px 10px;
    margin: 0px 0px 0px 120px;
    height: 16px;
    line-height: 15px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  //初始化未填写状态下，不显示error
  .ng-pristine {
    input, .free-select {
      border-color: #d9d9d9 !important;
    }
    .preview {
      border-width: 0px !important;
    }
  }
  .ng-pristine-custom {
    .item-textarea, .timi-chip-input {
      border-color: #d9d9d9 !important;
    }
  }
  .ng-pristine + .errBorder, .ng-pristine-custom + .errBorder {
    display: none;
  }
}
