:host /deep/ {
  .form-group {
    margin-bottom: 10px;
    float: left;
  }
  .columns1 {
    width: 50%;
  }
  .columns2 {
    width: 100%;
  }
  .radio-label, .checkbox-label {
    display: inline-block;
    width: 30%;
  }
  free-checkbox, free-radio {
    display: inline-block;
    width: 69%;
  }

  .box-item {
    float: left;
    box-sizing: border-box;
  }
  .item-label {
    text-align: right;
    width: 120px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    &::after {
      content: ":";
      margin: 0 8px 0 2px;
    }
  }
  .item-control-wrapper {
    width: calc(100% - 120px);
  }
  .edui-editor div {
    line-height: 18px;
  }
}
