:host /deep/ {
    .menu-row {
        list-style: none;
        overflow: hidden;
        padding: 20px;
    }
    .menu-card {
        float: left;
        margin-left: 10px;
        text-align: right;
        .pages-item {
            width: 120px;
            background-color: #cf000d;
            color: #fff;
        }
        .authority-first {
            width: 120px;
            .authority-btn {
                width: 100%;
            }
        }
    }
}