ul,
li {
    list-style: none;
}

.api-list {
    word-wrap: break-word;
    background-color: #eee;
}

.api-wrap {
    padding: 10px;
    dd {
        padding-left: 30px;
    }
    dt span {
        font-weight: 600;
    }
}

code {
    background-color: #eee;
}

.desc {
  margin-left: 10px;
  color: #aaa;
}
