<md-sidenav-container [@fadeInState]="'active'">

  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button class="add-button" (click)="newAdd();sidenav.open()">
      报单
    </button>
    <!--1 临时入口按钮 -->
    <!-- <button md-raised-button color="deepblue" class="add-button" (click)="setSidenavKey('FillInfo');FillInfoId='5a6974c7ac52db1898da86cf';sidenav.open()">
      资料收集
    </button>
    <button md-raised-button color="deepblue" class="add-button" (click)="setSidenavKey('Audit');AuditFirstRecheckId='5a6974c7ac52db1898da86cf';sidenav.open()">
      初/复审
    </button>
    <button md-raised-button color="deepblue" class="add-button" (click)="setSidenavKey('Audit1');AuditFinalId='5a6974c7ac52db1898da86cf';sidenav.open()">
      终审
    </button>
    <button md-raised-button color="deepblue" class="add-button" (click)="setSidenavKey('Interview');InterviewId='5a6974c7ac52db1898da86cf';sidenav.open()">
      面签
    </button>
    <button md-raised-button color="deepblue" class="add-button" (click)="setSidenavKey('WaitLoan');WaitLoanId='5a6974c7ac52db1898da86cf';sidenav.open()">
      待放款
    </button>
    <button md-raised-button color="deepblue" class="add-button" (click)="setSidenavKey('Loan');LoanId='5a6974c7ac52db1898da86cf';sidenav.open()">
      放款
    </button>
    <button md-raised-button color="deepblue" class="add-button" (click)="setSidenavKey('UpdateInfo');UpdateInfoId='5a6974c7ac52db1898da86cf';sidenav.open()">
      补充资料
    </button> -->
  </div>

  <!--<app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize" [activeIndex]="currentPage"-->
  <!--[clickAuthority]="2" (change)="page($event)" (rowClick)="rowClickEvent($event);sidenav.open()">-->
  <!--</app-table>-->

  <timi-table [headers]="columns" [data]="filteredData" [selectable]="true" [clickRowable]="true" [totals]="filteredTotal"
    [pageSize]="pageSize" [activeIndex]="currentPage" (pageEvent)="page($event)" (clickRowEvent)="rowClickEvent($event);sidenav.open()">
  </timi-table>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" (close)="closeEnd()">
    <div class="row">
      <div class="col-lg-12">
        <!--详细模版内容-->
        <detail-model *ngIf="sidenavKey === 'Detail' && selectRow && detailModel" [modelDOMS]="detailModel" [modelDOMSData]="selectRow"
          (onClick)="detailClick($event)"></detail-model>
        <free-declaration *ngIf="sidenavKey === 'Other'" (onPostOrderId)="onGetOrderId($event)"></free-declaration>

        <!-- 1.资料收集  -->
        <free-application *ngIf="sidenavKey === 'Collect'" [id]="CollectId" status="fillInfo"></free-application>
        <!-- 补充资料  -->
        <free-application *ngIf="sidenavKey === 'UpdateInfo'" [id]="UpdateInfoId" status="updateInfo"></free-application>

        <!-- 2.资料审核（初审/复审） -->
        <free-auditInfo *ngIf="sidenavKey === 'Audit'" [id]="AuditId" status="auditFirstRecheck"></free-auditInfo>

        <!-- 资料审核（终审） -->
        <free-auditInfo *ngIf="sidenavKey === 'Audit1'" [id]="AuditFinalId" status="auditFinal"></free-auditInfo>

        <!-- 面签 -->
        <free-auditInfo *ngIf="sidenavKey === 'Interview'" [id]="InterviewId" status="interview"></free-auditInfo>

        <!-- 待放款 -->
        <free-auditInfo *ngIf="sidenavKey === 'WaitLoan'" [id]="WaitLoanId" status="waitLoan"></free-auditInfo>

        <!-- 放款 -->
        <free-auditInfo *ngIf="sidenavKey === 'Loan'" [id]="LoanId" status="loan"></free-auditInfo>

        <!--响应详情模板内容不同按钮点击事件的表单-->
        <timi-responsive-form *ngIf="sidenavKey === 'Form' && modelDOMS && selectRow" [modelDOMS]="modelDOMS" [modelDOMSData]="selectRow"
          (ngSubmit)="submitMethod($event)"></timi-responsive-form>
      </div>
    </div>
  </md-sidenav>

</md-sidenav-container>