.add-button {
  width: 88px;
  left: 40px;
  top: -3px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 2px;
}

button{
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12);
  transform: translate3d(0, 0, 0);
  transition: background .4s cubic-bezier(.25, .8, .25, 1),
  box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 88px;
  line-height: 34px;
  padding: 0 16px;
  border-radius: 2px;
}


md-sidenav-container {
  height: 100%;
  .main-container {
    padding: 10px;
  }
}

md-sidenav {
  width: 60%;
}



.searchBtn{
  border: none;
}

.declaration .search {
  border-radius: 5px;
}
.searchBox{
  display: inline-block;
}

.selectType {
  position: absolute;
  height: 34px;
  margin-left: 30px;
  display: inline-block;
  overflow: hidden;
}

.selectType li {
  margin-right: 8px;
  float: left;
}

.hidden {
  display: none;
}

.active {
  color: #333 !important;
  border-radius: 10px;
  font-size: 12px;
  padding: 2px 6px;
  background-color: #cf000d;
  color: #FFF !important;
}

.products {
  height: 250px;
  overflow: auto;
  width: 100%;
  margin-top: 20px;
}

.products li {
  box-sizing: border-box;
  float: left;
  width: 25%;
  height: 86px;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid;
  border-color: transparent;
  //transition: width 1s ,border-color 1s;
  
}

.pic {
  width: 60px;
  height: 60px;
  margin-top: 8px;
  float: left;
}

.content {
  margin-left: 8px;
  float: left;
}

.content p {
  height: 22px;
  font-size: 12px;
}
.info li{
  margin-bottom: 20px;
}
.info li .left,.info li .right{
  display: inline-block;
  width: 150px;
}
.info li input{
  width: 200px;
  border-radius: 5px;
  padding: 0 4px;
}
.info li .left {
  margin-right: 30px;
  text-align: right;
}
.info li .right{
  margin-left: 30px;
}

.authentication{
  margin-top: 40px;
}

.authenticationPic{
  display: flex;
}

.authenticationPic div{
  height: 120px;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 40px;
  flex: 1;
  border: 1px solid #333;
}
.authenticationPic div:last-child{
  margin-right: 0;
}

.authenticationPic div span{
  display: inline-block;
  width: 100%;
  line-height: 120px;
  text-align: center;
}
.authenticationBtn {
  text-align: center;
  margin: 40px 0;
}
.resultBtn{
  text-align: center;
  clear: both;
  padding: 30px 0;
}

.result{
  overflow: hidden;
}
.leftBox,
.rightBox{
  float: left;
}
.leftBox{
  margin-right: 30px;
}
.rightBox ul li{
  height: 24px;
}
.leftBox img{
  width: 180px;
  height: 180px;
}
.leftBox img:first-child{
  margin-right: 30px;
}
.moreContent{
  width: 720px;
  height: 86px;
  float: left;
}

.moreContent li{
  height: 22px;
  font-size: 12px;
  line-height: 20px;
}
.moreContent li:last-child{
  width: 100%;
  clear: both;
}
.liActive{
  width: 100%!important;
  border-color: #333!important;
}

