<md-sidenav-container [@fadeInState]="'active'">

  <div class="main-container clearfix">
    <search-form *ngIf="searchFilters" [filters]="searchFilters" [condition]="filters" (onSearch)="onSearch($event)"></search-form>
    <button md-raised-button class="add-button" (click)="newAdd();sidenav.open()">
      报单
    </button>
    <!--1 临时按钮 -->
    <button md-raised-button color="deepblue" class="add-button" (click)="audit();sidenav.open()">
      审核资料
    </button>
  </div>

  <!--<app-table #table [data]="filteredData" [columns]="columns" [totals]="filteredTotal" [pageSize]="pageSize" [activeIndex]="currentPage"-->
  <!--[clickAuthority]="2" (change)="page($event)" (rowClick)="rowClickEvent($event);sidenav.open()">-->
  <!--</app-table>-->

  <timi-table [headers]="columns" [data]="filteredData" [selectable]="true" [clickRowable]="true" [totals]="filteredTotal"
    [pageSize]="pageSize" [activeIndex]="currentPage" (pageEvent)="page($event)" (clickRowEvent)="rowClickEvent($event);sidenav.open()">
  </timi-table>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end" (open-start)="sidenavOpen()" (close)="closeEnd()">
    <div class="row">
      <div class="col-lg-12">
        <!--详细模版内容-->
        <detail-model *ngIf="sidenavKey === 'Detail' && selectRow && detailModel" [modelDOMS]="detailModel" [modelDOMSData]="selectRow"
          (onClick)="detailClick($event)"></detail-model>
        <free-declaration *ngIf="sidenavKey === 'Other'" (onPostOrderId)="onGetOrderId($event)"></free-declaration>

        <!-- 资料补充  -->
        <free-application *ngIf="sidenavKey === 'FillInfo'" [id]="FillInfoId"></free-application>

        <!-- 资料审核 -->
        <free-auditInfo *ngIf="sidenavKey === 'audit'" id="5a697573ac52db1898da86e9"></free-auditInfo>

        <!--响应详情模板内容不同按钮点击事件的表单-->
        <timi-responsive-form *ngIf="sidenavKey === 'Form' && modelDOMS && selectRow" [modelDOMS]="modelDOMS" [modelDOMSData]="selectRow"
          (ngSubmit)="submitMethod($event)"></timi-responsive-form>
      </div>
    </div>
  </md-sidenav>

</md-sidenav-container>