<div class="particle-bg" tParticle total="80"></div>
<div class="panel">
    <div class="panel-body">
        <div class="free-panel-front">
            <p class="logo">汉力贷款超市后台管理系统</p>
            <p class="subtitle">
                <span *ngIf="errors" class="errors">{{msgErrors}}</span>
            </p>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <!-- <div class="form-group">
                    <label for="account" class="sr-only">账号</label>
                     <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                    <input type="text" id="account" placeholder="账号" formControlName="account">
                </div>
                <div class="form-group">
                    <label for="pwd" class="sr-only">密码</label>
                     <i class="fa fa-lock" aria-hidden="true"></i> 
                    <input type="password" id="pwd" placeholder="密码" formControlName="password">
                </div> -->
                <div class="form-group login-input-wrap">
                    <input type="text" id="account" formControlName="account" placeholder="账号">
                    <span class="login-input-line"></span>
                </div>
                <div class="form-group login-input-wrap">
                    <input type="password" id="pwd" formControlName="password" placeholder="密码">
                    <span class="login-input-line"></span>
                </div>
                <!-- <div class="form-group">
                    <app-inputtext color="success" placeholder="账号"></app-inputtext>
                </div>
                <div class="form-group">
                    <app-inputtext color="success" placeholder="密码" type="password"></app-inputtext>
                </div> -->

                <div class="form-group">
                    <button type="submit" color="deepblue" class="btn btn-deepblue btn-block" [disabled]="logining">登陆</button>
                </div>
            </form>
        </div>
    </div>
</div>