<div [@fadeInUpState]="'active'">
    <h1 class="aaaa">工作台首页内容</h1>
    <a fButton icon="home" size="big" color="green" circle>default</a>
    <router-outlet></router-outlet>
    <a [routerLink]="['/main/personal']" fButton size="big" color="green" circle>个人中心</a>

    <a fButton size="big" color="green" (click)="loginOut()">登出</a>

    <div class="container">
        <!-- <div class="beforeDrop" ng2FileDrop [ngClass]="{dropping: isDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileDropOver($event)" [uploader]="uploader">
            <p>点击或拖拽上传</p>
            <input type="file" class="ng2-file-select" ng2FileSelect [uploader]="uploader" />
        </div> -->
        <div class="upload-file-wrap">
            <h2>Upload a File</h2>
            <ul>
                <li *ngFor="let item of uploader.queue;let i = index;" class="file-item">
                    <img src="{{item.base}}" alt="" class="thumbnail">
                    <span>{{item.file.name}}</span>
                    <i class="fa fa-trash" (click)="removeItem(item)"></i>
                    <p>
                        <md-progress-bar mode="mode" [value]="uploader.progress"></md-progress-bar>
                    </p>
                </li>
            </ul>
            <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" multiple>
        </div>

        <!-- <div>
            <md-progress-bar mode="mode" [value]="uploader.progress"></md-progress-bar>
        </div> -->
        <button md-button (click)="uploadAllFiles()" [disabled]="!uploader.getNotUploadedItems().length">上传</button>
        <button md-button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">取消</button>
        <button md-button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">移除</button>
    </div>

</div>