<ul class="search-ul">
    <li *ngFor="let item of filters">
        <div [ngSwitch]="item.ui.displayType">
            <md-input-container *ngSwitchCase="'text'" [ngStyle]="{'display': item.ui.isHidden ? 'none' : 'show'}">
                <input mdInput placeholder="{{item.ui.placeholder}}" [value]="item.value" [name]="item.name" (input)="searchParam($event)" [disabled]="item.ui.isDisabled">
            </md-input-container>
            <md-input-container *ngSwitchCase="'hidden'" [ngStyle]="{'display': item.ui.isHidden ? 'none' : 'show'}">
                <input mdInput placeholder="{{item.ui.placeholder}}" [value]="item.value" [name]="item.name" [disabled]="item.ui.isDisabled">
            </md-input-container>
            <div *ngSwitchCase="'daterange'">
                <md-input-container>
                    <input mdInput [mdDatepicker]="picker" placeholder="起始时间" [(ngModel)]="StartTime">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
                &nbsp;&nbsp;--&nbsp;&nbsp;
                <md-input-container>
                    <input mdInput [mdDatepicker]="picker2" placeholder="截至时间" [(ngModel)]="EndTime">
                    <button mdSuffix [mdDatepickerToggle]="picker2"></button>
                </md-input-container>
                <md-datepicker #picker2></md-datepicker>
            </div>
            <!-- <div *ngSwitchCase="'select'">
                <md-select placeholder="Favorite food" (change)="changed($event)">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                        {{ food.viewValue }}
                    </md-option>
                </md-select>
            </div> -->
        </div>
    </li>
    <li>{{condition}}</li>
    <li>
        <button fButton color="deepblue" (click)="searchParams()">搜索</button>
    </li>
</ul>