.search-ul {
    padding: 10px;
    overflow: hidden;
    float: left;
    li {
        list-style: none;
        float: left;
        margin-left: 10px;
        md-select {
            position: relative;
            bottom: -25px;
            width: 200px;
        }
        button {
            position: relative;
            bottom: -10px;
        }
    }
}