:host /deep/ {
    .basic-container {
        padding: 20px 0;
    }
    .container-right {
        padding: 20px 0
    }
    .person-head {
        text-align: center;
        padding: 20px 0;
        .person-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .login-info {
        padding: 20px 40px;
        li {
            padding: 10px 0;
            border-bottom: 1px solid #E0DADA;
            &:last-child {
                border-bottom: none;
            }
            p {
                color: #333;
            }
            span {
                color: #666;
            }
        }
    }
}