<div *ngIf="loanInfo">
  <!-- 个人信息和贷款信息(审核资料时，为只读) - -->
  <free-personalLoanInfo [loanInfo]="loanInfo" [readyOnly]="readyOnly"></free-personalLoanInfo>

  <!-- 录入信息 -->
  <div class="loan" *ngIf="loanInfo._applyDetailTemplate.doms">f
    <h4>录入信息</h4>
    <!-- 新增 -->
    <timi-responsive-form *ngIf="!loanInfo.applyFormData" [modelDOMS]="loanInfo._applyDetailTemplate.doms" btnType="new" submitBtnNeed=""></timi-responsive-form>
    <!-- 修改 -->
    <timi-responsive-form *ngIf="loanInfo.applyFormData && !readyOnly" [modelDOMS]="loanInfo._applyDetailTemplate.doms" btnType="edit"
      submitBtnNeed="" [modelDOMSData]="loanInfo.applyFormData"></timi-responsive-form>
    <!-- 详情页面 -->
    <detail-model *ngIf="loanInfo.applyFormData && readyOnly" [modelDOMS]="loanInfo._applyDetailTemplate.doms" [modelDOMSData]="loanInfo.applyFormData"></detail-model>
  </div>

  <!-- 所需附件 -->
  <div class="m-b-20" *ngIf="loanInfo._attachmentGroups">
    <h4>所需附件</h4>
    <p *ngIf="loanInfo.attachmentsZip">
      <a [href]="loanInfo.attachmentsZip" download>一键下载</a>
    </p>
    <ul class="clearfix accessory">
      <li *ngFor="let attachmentGroup of loanInfo._attachmentGroups;let i = index;">
        <div class="accessoryTop" (click)="displayAttachmentGroup(attachmentGroup.attachmentsDisplay,attachmentGroup,loanInfo._attachmentGroups,i)"
          [ngClass]="{'attachmentGroupActive':attachmentGroup.attachmentsDisplay}">
          <span>{{attachmentGroup.name}}</span>
          <span class="free-badge status status-required" *ngIf="setAttachmentGroupAttachmentRequired(i)">必填</span>
          <span class="free-badge status" [style.background-color]="statusStyle(attachmentGroup._status)">{{attachmentGroup._status}}</span>
        </div>
        <div class="accessoryBottom" *ngIf="attachmentGroup.attachmentsDisplay" [@selectState]="'attachmentsDisplay'">
          <ul>
            <li *ngFor="let attachment of attachmentGroup._attachments;let k = index;" (click)="displayAttachmentData(attachment,attachmentGroup,k)">
              <div class="accessoryBottomTop" [ngClass]="{'attachmentActive':k == 0 ? firstAttachmentActive : attachment.id == attachmentGroup.temporaryData.id}">
                <span>{{attachment.name}}</span>
                <span class="free-badge status status-required" *ngIf="attachment.required && attachment.needCount > 0">必填</span>
                <span class="free-badge status" [style.background-color]="statusStyle(attachment._status)">{{attachment._status}}</span>
              </div>
            </li>
          </ul>

          <!-- 所需附件(审核资料时，为只读) -->
          <!-- 初始化状态 , 并且有附件项 -->
          <div class="accessoryBottomBottom" *ngIf="!attachmentGroup.temporaryData && attachmentGroup._attachments">
            <pre *ngIf="attachmentGroup._attachments[0].description">{{attachmentGroup._attachments[0].description}}</pre>
            <p *ngIf="attachmentGroup._attachments[0].statusRemark">不通过原因：{{attachmentGroup._attachments[0].statusRemark}}</p>
            <div class="clearfix auditBtnParent">
              <p class="auditNeedCount">
                <span *ngIf="attachmentGroup._attachments[0].needCount">至少上传{{attachmentGroup._attachments[0].needCount}}个文件,</span>
                <span *ngIf="attachmentGroup._attachments[0].upperLimit">最多上传{{attachmentGroup._attachments[0].upperLimit}}个文件</span>
              </p>
              <div>
                <p class="auditBtn" *ngIf="!attachmentGroup._attachments[0].limitAudit">
                  <span class="free-badge auditBtnPass" (click)="postLoanOrderAdoptAttachment(attachmentGroup._attachments[0].id,i,attachmentGroup._attachments[0])">通过</span>
                  <span class="free-badge auditBtnNotPass" (click)="postLoanOrderNotPassAttachment(attachmentGroup._attachments[0].id,i,attachmentGroup._attachments[0])">不通过</span>
                </p>
              </div>
            </div>
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup._attachments[0].id" [existingDatas]="attachmentGroup._attachments[0]._files
                    " [uploaderQueueHidden]="true" [readyOnly]="attachmentGroup._attachments[0].limitWrite
                    " [upperLimit]="attachmentGroup._attachments[0].upperLimit" (onPostFileData)="onPostFileData($event,i,attachmentGroup._attachments[0])"></multiple-uploader>
          </div>
          <!-- 非初始化状态,已经操作了 -->
          <div class="accessoryBottomBottom" *ngIf="attachmentGroup.temporaryData">
            <pre *ngIf="attachmentGroup.temporaryData.description">{{attachmentGroup.temporaryData.description}}</pre>
            <p *ngIf="attachmentGroup.temporaryData.statusRemark">不通过原因：{{attachmentGroup.temporaryData.statusRemark}}</p>
            <div class="clearfix auditBtnParent">
              <p class="auditNeedCount">
                <span *ngIf="attachmentGroup.temporaryData.needCount">至少上传{{attachmentGroup.temporaryData.needCount}}个文件,</span>
                <span *ngIf="attachmentGroup.temporaryData.upperLimit">最多上传{{attachmentGroup.temporaryData.upperLimit}}个文件</span>
              </p>
              <div>
                <p class="auditBtn" *ngIf="!attachmentGroup.temporaryData.limitAudit ">
                  <span class="free-badge auditBtnPass" (click)="postLoanOrderAdoptAttachment(attachmentGroup.temporaryData.id,i,attachmentGroup.temporaryData)">通过</span>
                  <span class="free-badge auditBtnNotPass" (click)="postLoanOrderNotPassAttachment(attachmentGroup.temporaryData.id,i,attachmentGroup.temporaryData)">不通过</span>
                </p>
              </div>
            </div>
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup.temporaryData.id" [existingDatas]="attachmentGroup.temporaryData._files
                    " [uploaderQueueHidden]="true" [readyOnly]="attachmentGroup.temporaryData.limitWrite" [upperLimit]="attachmentGroup.temporaryData.upperLimit"
              (onPostFileData)="onPostFileData($event,i,attachmentGroup.temporaryData)"></multiple-uploader>
          </div>

        </div>
      </li>
    </ul>
  </div>

  <!-- 操作记录 -->
  <div class="m-b-20 history">
    <h4>操作记录</h4>
    <p>当前操作人: {{loanInfo._operator}}</p>
    <table border="1" cellpadding="10">
      <tr>
        <th>操作人</th>
        <th>时间</th>
        <th>操作</th>
        <th>状态</th>
        <th>备注</th>
        <th>附加信息</th>
      </tr>
      <tr *ngFor="let history of loanInfo.historys;">
        <td>{{history._creater.name}}</td>
        <td>{{history._createdDate}}</td>
        <td>{{history._option}}</td>
        <td>{{history._status}}</td>
        <td>{{history.remark}}</td>
        <td *ngIf="!history.attrs"></td>
        <td *ngIf="history.attrs">
          <ul class="overheadInfo" *ngIf="history._status !== '已放款' && history._status !== '待放款'">
            <!-- 因为每个字段有不同的单位，不同的展示方式，所以需要写固定的 -->
            <li>批核金额 : {{history.attrs["批核金额"]}} 元</li>
            <li>批核期限 : {{history.attrs["批核期限"]}} 个月</li>
            <li>批核年化 : {{history.attrs["批核年化"]*100}}</li>
            <li>批核月费率 : {{history.attrs["批核月费率"]*100}}</li>
            <li>批核还款方式 : {{history.attrs["批核还款方式"]}}</li>
          </ul>
          <ul class="overheadInfo" *ngIf="history._status == '已放款' || history._status == '待放款'">
            <!-- 因为每个字段有不同的单位，不同的展示方式，所以需要写固定的 -->
            <li>放款金额 : {{history.attrs["放款金额"]}} 元</li>
            <li>放款期限 : {{history.attrs["放款期限"]}} 个月</li>
            <li>放款年化 : {{history.attrs["放款年化"]*100}}</li>
            <li>放款月费率 : {{history.attrs["放款月费率"]*100}}</li>
            <li>放款还款方式 : {{history.attrs["放款还款方式"]}}</li>
            <li>放款时间 : {{history.attrs["放款时间"]}}</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <!-- 审核结果 -->
  <div class="m-b-20" *ngIf="status !== 'Loan' && status !== 'Detail'">
    <h4>审核结果</h4>
    <ul class="loan-info clearfix loan-info-result">
      <li *ngFor="let auditOption of loanInfo.auditOptions">
        <div class="form-group columns1 form-group-checkbox ">
          <free-radio [label]="auditOption.name" name="auditResult" theme="info" (onClick)="setAuidtResult(auditOption)"></free-radio>
        </div>
      </li>
    </ul>
    <div *ngIf="auditResultReason" class="clearfix">
      <timi-chip-group labeName="原因" [(ngModel)]="auditResultReason" clickFilter="true" placeholder="点击选中,回车添加" (chipsChange)="chipsChange($event)"></timi-chip-group>
    </div>
  </div>

  <!-- 批核信息 -->
  <div class="m-b-20" *ngIf="status !== 'FaceSign'?auditResultPass:false">
    <h4>批核信息</h4>
    <form [formGroup]="approveLoanInfoForm">
      <ul class="loan-info clearfix">
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}金额" formControlName="loanApprovedAmount" [(ngModel)]="loanApprovedAmount"
              [customValidator]="validatorGather[0]['customValidator']" [validatorRequired]="validatorGather[0]['validatorRequired']"
              [validatorInputValue]="loanApprovedAmount" [submitVerify]="submitVerify" (storeErrData)="storeErrData($event,'loanApprovedAmount')"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}期限" formControlName="loanApprovedDeadline" [(ngModel)]="loanApprovedDeadline"
              [customValidator]="validatorGather[2]['customValidator']" [validatorRequired]="validatorGather[2]['validatorRequired']"
              [validatorInputValue]="loanApprovedDeadline" [submitVerify]="submitVerify" (storeErrData)="storeErrData($event,'loanApprovedDeadline')"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}年化" formControlName="loanApprovedYearsRate" [(ngModel)]="loanApprovedYearsRate"
              [customValidator]="validatorGather[3]['customValidator']" [validatorRequired]="validatorGather[3]['validatorRequired']"
              [validatorInputValue]="loanApprovedYearsRate" [submitVerify]="submitVerify" (storeErrData)="storeErrData($event,'loanApprovedYearsRate')"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}月费率" formControlName="loanApprovedMonthsRate" [(ngModel)]="loanApprovedMonthsRate"
              [customValidator]="validatorGather[3]['customValidator']" [validatorRequired]="validatorGather[3]['validatorRequired']"
              [validatorInputValue]="loanApprovedMonthsRate" [submitVerify]="submitVerify" (storeErrData)="storeErrData($event,'loanApprovedMonthsRate')"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-select formControlName="loanApprovedRepaymentMethod" freeSelectName="{{approveLoanInfoFormDislayLabel}}还款方式" pholder="{{'请选择还款方式'}}"
              [options]="loanInfo.repaymentMethods" [(ngModel)]="loanApprovedRepaymentMethod" [customValidator]="validatorGather[1]['customValidator']"
              [validatorRequired]="validatorGather[1]['validatorRequired']" [validatorInputValue]="loanApprovedRepaymentMethod"
              [submitVerify]="submitVerify" (storeErrData)="storeErrData($event,'loanApprovedRepaymentMethod')" validatorComponentType="select"></timi-select>
          </div>
        </li>
        <li *ngIf="status == 'FinalAudit'">
          <div class="form-group columns1">
            <timi-select formControlName="loanApprovedAssignUsers" freeSelectName="指派" pholder="{{'请选择被指派人'}}" [options]="assignUsers"
              [(ngModel)]="loanApprovedAssignUsers" [customValidator]="validatorGather[1]['customValidator']" [validatorRequired]="validatorGather[1]['validatorRequired']"
              [validatorInputValue]="loanApprovedAssignUsers" [submitVerify]="submitVerify" (storeErrData)="storeErrData($event,'loanApprovedAssignUsers')"
              validatorComponentType="select"></timi-select>
          </div>
        </li>
        <li *ngIf="status == 'WaitLoan'">
          <div class="form-group columns1">
            <span class="time-picker-label ">放款时间</span>
            <div class="time-picker">
              <free-calendar formControlName="loanDate" lang="cn" pholder="选择日期" [(ngModel)]="loanDate" [customValidator]="validatorGather[1]['customValidator']"
                [validatorRequired]="validatorGather[1]['validatorRequired']" [validatorInputValue]="loanDate" [submitVerify]="submitVerify"
                (storeErrData)="storeErrData($event,'loanDate')" validatorComponentType="free-calendar-date"></free-calendar>
              <free-calendar formControlName="loanTime" [timeOnly]="true" pholder="选择时间" [(ngModel)]="loanTime" [customValidator]="validatorGather[1]['customValidator']"
                [validatorRequired]="validatorGather[1]['validatorRequired']" [validatorInputValue]="loanTime" [submitVerify]="submitVerify"
                (storeErrData)="storeErrData($event,'loanTime')" validatorComponentType="free-calendar-time"></free-calendar>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>

  <div class="resultBtn">
    <button type="button" class="mat-raised-button" *ngFor="let btn of loanInfo.btns" (click)="onSubmit(btn.url,btn.label,btn.type)">{{btn.label}}</button>
  </div>
  <button type="button" class="mat-raised-button special" *ngIf="commissionBtn" (click)="toCommission()">返佣</button>
</div>
