<form *ngIf="loanInfo">
  <!-- 个人信息和贷款信息(审核资料时，为只读) - -->
  <free-personalLoanInfo [loanInfo]="loanInfo" [readyOnly]="readyOnly"></free-personalLoanInfo>

  <!-- 录入信息[(ngModel)]="loanInfo.applyFormData" -->
  <div class="loan">
    <h4>录入信息</h4>
    <!-- 新增 -->
    <timi-responsive-form *ngIf="!loanInfo.applyFormData" [modelDOMS]="loanInfo._applyDetailTemplate.doms" btnType="new" submitBtnNeed=""
      (ngSubmit)="onSubmitParams($event)"></timi-responsive-form>
    <!-- 修改 -->
    <timi-responsive-form *ngIf="loanInfo.applyFormData" [modelDOMS]="loanInfo._applyDetailTemplate.doms" btnType="edit" submitBtnNeed=""
      (ngSubmit)="onSubmitParams($event)" [modelDOMSData]="loanInfo.applyFormData"></timi-responsive-form>
  </div>

  <!-- 所需附件  [ngClass]="{'statusPass':attachmentGroup._status == '通过'}"-->
  <div class="m-b-20">
    <h4>所需附件</h4>
    <ul class="clearfix accessory">
      <li *ngFor="let attachmentGroup of loanInfo._attachmentGroups;let i = index;">
        <div class="accessoryTop" (click)="displayAttachmentGroup(attachmentGroup.attachmentsDisplay,attachmentGroup,loanInfo._attachmentGroups,i)"
          [ngClass]="{'attachmentGroupActive':attachmentGroup.attachmentsDisplay}">
          <span>{{attachmentGroup.name}}</span>
          <span class="free-badge status" [style.background-color]="statusStyle(attachmentGroup._status)">{{attachmentGroup._status}}</span>
        </div>
        <div class="accessoryBottom" *ngIf="attachmentGroup.attachmentsDisplay" [@selectState]="'attachmentsDisplay'">
          <ul>
            <li *ngFor="let attachment of attachmentGroup._attachments;let k = index;" (click)="displayAttachmentData(attachment,attachmentGroup,k)">
              <div class="accessoryBottomTop" [ngClass]="{'attachmentActive':k == 0 ? firstAttachmentActive : attachment.id == attachmentGroup.temporaryData.id}">
                <span>{{attachment.name}}</span>
                <span class="free-badge status" [style.background-color]="statusStyle(attachment._status)">{{attachment._status}}</span>
              </div>
            </li>
          </ul>

          <!-- 所需附件(审核资料时，为只读) -->
          <!-- 初始化状态 , 并且有附件项 -->
          <div class="accessoryBottomBottom" *ngIf="!attachmentGroup.temporaryData && attachmentGroup._attachments">
            <pre>{{attachmentGroup._attachments[0].description}}</pre>
            <p *ngIf="attachmentGroup._attachments[0].needCount">至少上传{{attachmentGroup._attachments[0].needCount}}个文件</p>
            <!-- <multiple-uploader [url]="uploadUrl"></multiple-uploader> -->
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup._attachments[0].id" [existingDatas]="attachmentGroup._attachments[0]._files
                    " (onPostFileData)="onPostFileData($event,i,attachmentGroup._attachments[0])" [uploaderQueueHidden]="true"
              [readyOnly]="readyOnly"></multiple-uploader>
          </div>
          <!-- 非初始化状态,已经操作了 -->
          <div class="accessoryBottomBottom" *ngIf="attachmentGroup.temporaryData">
            <pre>{{attachmentGroup.temporaryData.description}}</pre>
            <p *ngIf="attachmentGroup.temporaryData.needCount">至少上传{{attachmentGroup.temporaryData.needCount}}个文件</p>
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup.temporaryData.id" [existingDatas]="attachmentGroup.temporaryData._files
                    " (onPostFileData)="onPostFileData($event,i,attachmentGroup.temporaryData)" [uploaderQueueHidden]="true"
              [readyOnly]="readyOnly"></multiple-uploader>
          </div>

        </div>
      </li>
    </ul>

    <div class="resultBtn">
      <button type="button" class="mat-raised-button" (click)="onSubmit($event)">提交审核</button>
    </div>

  </div>
</form>