<div *ngIf="loanInfo">
  <!-- 个人信息和贷款信息(审核资料时，为只读) - -->
  <free-personalLoanInfo [loanInfo]="loanInfo" [readyOnly]="readyOnly"></free-personalLoanInfo>

  <!-- 录入信息 -->
  <div class="loan">
    <h4>录入信息</h4>
    <timi-responsive-form [modelDOMS]="loanInfo._applyDetailTemplate.doms" btnType="edit" submitBtnNeed=""></timi-responsive-form>
  </div>

  <!-- 所需附件 -->
  <div class="m-b-20">
    <h4>所需附件</h4>
    <ul class="clearfix accessory">
      <li *ngFor="let attachmentGroup of loanInfo._attachmentGroups;let i = index;">
        <div class="accessoryTop" (click)="displayAttachmentGroup(attachmentGroup.attachmentsDisplay,attachmentGroup,loanInfo._attachmentGroups,i)"
          [ngClass]="{'attachmentGroupActive':attachmentGroup.attachmentsDisplay}">
          <span>{{attachmentGroup.name}}</span>
          <span class="free-badge status" [style.background-color]="statusStyle(attachmentGroup._status)">{{attachmentGroup._status}}</span>
        </div>
        <div class="accessoryBottom" *ngIf="attachmentGroup.attachmentsDisplay" [@selectState]="'attachmentsDisplay'">
          <ul>
            <li *ngFor="let attachment of attachmentGroup._attachments;let k = index;" (click)="displayAttachmentData(attachment,attachmentGroup,k)">
              <div class="accessoryBottomTop" [ngClass]="{'attachmentActive':k == 0 ? firstAttachmentActive : attachment.id == attachmentGroup.temporaryData.id}">
                <span>{{attachment.name}}</span>
                <span class="free-badge status" [style.background-color]="statusStyle(attachment._status)">{{attachment._status}}</span>
              </div>
            </li>
          </ul>

          <!-- 所需附件(审核资料时，为只读) -->
          <!-- 初始化状态 , 并且有附件项 -->
          <div class="accessoryBottomBottom" *ngIf="!attachmentGroup.temporaryData && attachmentGroup._attachments">
            <pre *ngIf="attachmentGroup._attachments[0].description">{{attachmentGroup._attachments[0].description}}</pre>
            <p *ngIf="attachmentGroup._attachments[0].statusRemark">不通过原因：{{attachmentGroup._attachments[0].statusRemark}}</p>
            <div class="clearfix auditBtnParent">
              <p class="auditNeedCount" *ngIf="attachmentGroup._attachments[0].needCount">至少上传{{attachmentGroup._attachments[0].needCount}}个文件</p>
              <div *ngIf="status == 'auditFirstRecheck' || status == 'auditFinal'">
                <p class="auditBtn" *ngIf="attachmentGroup._attachments[0]._status !== '通过' && attachmentGroup._attachments[0]._status !== '不通过'">
                  <span class="free-badge auditBtnPass" (click)="postLoanOrderAdoptAttachment(attachmentGroup._attachments[0].id,i,attachmentGroup._attachments[0])">通过</span>
                  <span class="free-badge auditBtnNotPass" (click)="postLoanOrderNotPassAttachment(attachmentGroup._attachments[0].id,i,attachmentGroup._attachments[0])">不通过</span>
                </p>
              </div>
            </div>
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup._attachments[0].id" [existingDatas]="attachmentGroup._attachments[0]._files
                    " [uploaderQueueHidden]="true" [readyOnly]="readyOnly"></multiple-uploader>
          </div>
          <!-- 非初始化状态,已经操作了 -->
          <div class="accessoryBottomBottom" *ngIf="attachmentGroup.temporaryData">
            <pre *ngIf="attachmentGroup.temporaryData.description">{{attachmentGroup.temporaryData.description}}</pre>
            <p *ngIf="attachmentGroup.temporaryData.statusRemark">不通过原因：{{attachmentGroup.temporaryData.statusRemark}}</p>
            <div class="clearfix auditBtnParent">
              <p class="auditNeedCount" *ngIf="attachmentGroup.temporaryData.needCount">至少上传{{attachmentGroup.temporaryData.needCount}}个文件</p>
              <div *ngIf="status == 'auditFirstRecheck' || status == 'auditFinal'">
                <p class="auditBtn" *ngIf="attachmentGroup.temporaryData._status !== '通过' &&  attachmentGroup.temporaryData._status !== '不通过'">
                  <span class="free-badge auditBtnPass" (click)="postLoanOrderAdoptAttachment(attachmentGroup.temporaryData.id,i,attachmentGroup.temporaryData)">通过</span>
                  <span class="free-badge auditBtnNotPass" (click)="postLoanOrderNotPassAttachment(attachmentGroup.temporaryData.id,i,attachmentGroup.temporaryData)">不通过</span>
                </p>
              </div>
            </div>
            <multiple-uploader [url]="uploadUrl" [id]="attachmentGroup.temporaryData.id" [existingDatas]="attachmentGroup.temporaryData._files
                    " [uploaderQueueHidden]="true" [readyOnly]="readyOnly"></multiple-uploader>
          </div>

        </div>
      </li>
    </ul>
  </div>

  <!-- 审核结果 -->
  <div class="m-b-20">
    <h4>审核结果</h4>
    <form [formGroup]="auditResultForm">
      <ul class="loan-info clearfix">
        <li>
          <div class="form-group columns1 form-group-checkbox ">
            <free-radio label="通过" name="auditResult" formControlName="res1" theme="info" inputValue="true" (onClick)="setAuidtResult($event)"></free-radio>
          </div>
        </li>
        <li>
          <div class="form-group columns1 form-group-checkbox">
            <free-radio label="不通过" name="auditResult" formControlName="res1" theme="info" inputValue="false" (onClick)="setAuidtResult($event)"></free-radio>
          </div>
        </li>
      </ul>
    </form>
    <div *ngIf="auditResultReason" class="clearfix">
      <timi-chip-group labeName="原因" [(ngModel)]="auditResultReason" clickFilter="true" placeholder="点击选中,回车添加"></timi-chip-group>
    </div>
  </div>

  <!-- 批核信息 -->
  <div class="m-b-20" *ngIf="status !== 'interview'?auditResultPass:false">
    <h4>批核信息</h4>
    <form [formGroup]="approveLoanInfoForm">
      <ul class="loan-info clearfix">
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}金额" formControlName="loanApprovedAmount"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}期限" formControlName="loanApprovedTerm"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}年化" formControlName="loanApprovedTerm"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-input labelName="{{approveLoanInfoFormDislayLabel}}月费率" formControlName="loanApprovedTerm"></timi-input>
          </div>
        </li>
        <li>
          <div class="form-group columns1">
            <timi-select formControlName="loanApprovedRepaymentMethod" freeSelectName="还款方式" pholder="{{'请选择还款方式'}}" [options]="termBindData"></timi-select>
          </div>
        </li>
        <li *ngIf="status == 'auditFinal'">
          <div class="form-group columns1">
            <timi-select formControlName="loanApprovedRepaymentMethod" freeSelectName="指派" pholder="{{'请选择被指派人'}}" [options]="termBindData"></timi-select>
          </div>
        </li>
        <li *ngIf="status == 'waitLoan'">
          <div class="form-group columns1">
            <span class="time-picker-label ">放款时间</span>
            <div class="time-picker">
              <free-calendar formControlName="loanTime1" lang="cn" pholder="选择日期"></free-calendar>
              <free-calendar formControlName="loanTime2" [timeOnly]="true" pholder="选择时间"></free-calendar>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
  <div class="resultBtn">
    <button type="button" class="mat-raised-button" *ngFor="let btn of loanInfo.btns" (click)="onSubmit(btn.url,btn.label)">{{btn.label}}</button>
  </div>
</div>