<md-sidenav-container>
  <div class="main-container clearfix">
    <search-form *ngIf="searchDOMS" [filters]="searchDOMS" [condition]="filters"
                 (onSearch)="onSearch($event)"></search-form>
  </div>

  <timi-table [headers]="headers" [data]="datas" [clickRowable]="true" [totals]="totals" [pageSize]="pageSize"
              [activeIndex]="currentPage" (pageEvent)="page($event)"
              (clickRowEvent)="rowClickEvent($event);sidenav.open()">
  </timi-table>

  <md-sidenav #sidenav class="sidenav container-fluid" align="end">
    <div class="row">
      <div class="col-lg-12" [ngSwitch]="sidenavKey">
        <!--详细-->
        <ng-container *ngSwitchCase="'Detail'">
          <div class="section clearfix">
            <h4>订单基本信息</h4>
            <div class="form-group columns1">
              <div class="label">交易单编号</div>
              <div class="span">{{orderDetail?.id}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">交易状态</div>
              <div class="span">{{orderDetail?._status}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">机构</div>
              <div class="span">{{orderDetail?.name}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">产品</div>
              <div class="span">{{orderDetail?._product.name}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">营业部</div>
              <div class="span">{{orderDetail?.OrgName.name}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">客户</div>
              <div class="span">{{orderDetail?.name}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">申请金额</div>
              <div class="span">{{orderDetail?.applyAmount}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">批贷金额</div>
              <div class="span">{{orderDetail?.applyAmount}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">年化</div>
              <div class="span">{{orderDetail?.applyAmount}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">放贷时间</div>
              <div class="span">{{orderDetail?.loanDate | date}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">月费率</div>
              <div class="span">{{orderDetail?.applyAmount}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">期数</div>
              <div class="span">{{orderDetail?.applyAmount}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">还款方式</div>
              <div class="span">{{orderDetail?.applyAmount}}</div>
            </div>
            <div class="form-group columns1">
              <div class="label">逾期期数</div>
              <div class="span">{{orderDetail?.applyAmount}}</div>
            </div>
          </div>
          <div class="section clearfix">
            <h4>还款计划</h4>
            <table>
              <thead>
              <tr>
                <th>计划还款时间</th>
                <th>利息</th>
                <th>应还金额</th>
                <th>实际还款时间</th>
                <th>实还滞纳金</th>
                <th>实还金额</th>
                <th>还款凭证</th>
                <th>操作人</th>
                <th>备注</th>
                <th>还款方</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of repaymentPlan">
                <td>{{item?.PlannedTime | date:"yyyy-MM-dd"}}</td>
                <td>{{item?.Interest}}</td>
                <td>{{item?.Interest}}</td>
                <td>{{item?.ActualTime | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                <td>{{item?.ActualLateFee}}</td>
                <td>{{item?.ActualAmount}}</td>
                <td>{{item?.PaymentVoucher}}</td>
                <td>{{item?.operater}}</td>
                <td>{{item?.Remark}}</td>
                <td>{{item?.RepaymentWay}}</td>
                <td>
                  <button md-raised-button (click)="sidenavKey = 'Repayment'">还款</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <!--还款-->
        <ng-container *ngSwitchCase="'Repayment'">
          <form #form="ngForm">
            <input type="hidden" name="Id" value="123">
            <div class="section clearfix">
              <div class="form-group columns1">
                <div class="label"><label>还款日期</label></div>
                <free-calendar ngModel lang="cn" name="date"></free-calendar>
              </div>
              <div class="form-group columns1">
                <timi-input ngModel [labelName]="'还款金额'" name="money"></timi-input>
              </div>
              <div class="form-group columns1">
                <timi-input ngModel [labelName]="'滞纳金'" name="ActualLateFee"></timi-input>
              </div>
              <div class="form-group columns1">
                <timi-select ngModel [freeSelectName]="'还款类型'" [options]="repaymentTypes" name="RepaymentWay"></timi-select>
              </div>
            </div>
            <div class="section clearfix">
              <div class="columns2" style="margin-bottom: 1rem;">
                <timi-file-uploader ngModel [btnName]="'还款凭证'" name="PaymentVoucher"></timi-file-uploader>
              </div>
            </div>
            <div class="section clearfix">
              <timi-textarea ngModel [labelName]="'备注'" name="Remark"></timi-textarea>
            </div>
            <div class="section clearfix operateBar">
              <button md-raised-button (click)="sidenavKey = 'Detail'">返回</button>
              <button md-raised-button (click)="submitRepayment(form.value)">确定</button>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </md-sidenav>
</md-sidenav-container>
